[2013-07-26 11:56] traversaro opened #1 "iDynTree Jacobian feature elicitation"
I have opened this issue to clear the necessary features for Jacobian calculations, for fitting them in a clear API.

For example, discussing with @iron76 and @serena-ivaldi they expressed the need for a method that returned the jacobian between a link ![equation](http://latex.codecogs.com/gif.latex?i) and a link  ![equation](http://latex.codecogs.com/gif.latex?j) such that:
![equation](http://lat

[2013-10-22 08:55] andreadelprete opened #2 "Orientation representation (in whole-body interface)"
Currently in the WBI (whole-body interface) orientations/rotations are represented as quaternions. However I noticed that this may be annoying, because the user may be using a different representation (e.g. rotation matrices, euler angles, angle-axis). To simplify user's life I'd like to introduce a simple class Rotation, which represents a rotation between two reference frames. I want to take ins

[2013-10-22 09:35] andreadelprete opened #3 "iWholeBodySensors doesn't scale!"
### Problem

Currently the interface iWholeBodySensors works (more or less) like this. There are 4 methods for each sensor type:
- bool addSensor(LocalId)
- bool removeSensor(LocalId)
- LocalIdList getSensorList()
- bool readSensor(double\* data, double\* stamp, bool wait)

where "Sensor" can be either "Encoder", "IMU" or "FTsensor". This approach clearly doesn't scale when the number of sensor ty

[2013-11-04 07:52] #2 closed, assigned to nobody

[2013-11-13 16:26] #3 closed, assigned to nobody

[2013-11-13 16:28] andreadelprete opened #6 "WholeBodyInterface ID representation"
After a long chat, @traversaro and I decided to implement other three changes to the library WholeBodyInterface:
* switch from local id (i.e. IDs composed by two int, one for the "body part" and one for the "local ID") to global id (IDs composed only by one int, so that they are unique for the whole body of the robot)
* add a string to the ID (which at the moment is only numerical) to ease the int

[2013-12-05 04:35] traversaro opened #8 "iDynTree Zero Moment Point (ZMP) implementation"
We have to discuss how to implement the ZMP related calculation in iDynTree as several people ( @MirkoFerrati and the Walkman team, I guess also @jeljaik ) have an interest on this.

To have a consistent reference for terminology I propose to use the one used in Chapter 16 of the Springer Handbook of Robotics ( http://link.springer.com/referenceworkentry/10.1007%2F978-3-540-30301-5_17 ).

The ZMP

[2013-12-17 14:27] traversaro opened #9 "wholeBodyDynamicsTree"
wholeBodyDynamicsTree
====================

This issue is an informal blueprint for the architecture of the new wholeBodyDynamics module, which will substitute the iDyn-based [wholeBodyDynamics](http://wiki.icub.org/iCub_documentation/group__wholeBodyDynamics.html ) module used in the iCub. This module is in charge of estimating the external contact forces and the joint torques given the measureme

[2013-12-20 08:32] andreadelprete opened #10 "Add methods to set priors to iWholeBodyStates"
Since iWholeBodyStates should define the interface for a generic estimator it should provide users with the possibility to set priors on the estimated quantities.

After discussing with @iron76 and @traversaro two ways to do this emerged. The user can specify either:
1. the system dynamics and the control inputs, OR
2. the priors on the estimated quantities
##### Option 1

The first option is "Kal

[2014-01-01 21:40] andreadelprete opened #11 "Noise filtering and numerical derivatives"
Filtering noise in sensor outputs and computing numerical derivatives are fundamental steps in the implementation of most controllers. Currently I'm using 1st order IIR low pass filters for noise filtering (see [FirstOrderLowPassFilter](http://wiki.icub.org/iCub/main/dox/html/classiCub_1_1ctrl_1_1FirstOrderLowPassFilter.html#_details)) and adaptive windows polynomial fitting for computing numerica

[2014-01-13 15:48] traversaro opened #12 "add superbuild"
Add superbuild (using https://github.com/robotology/ycm) support for the codyco repository, using the walkman repository as reference.

[2014-01-13 16:28] traversaro opened #13 "fix uninstall target"
Uninstall target is apparently using a not-existing icub-config-unistall.cmake file

[2014-01-16 15:28] traversaro opened #14 "Units of measurement in wholeBodyInterface"
In current wholeBodyInterface documentation a clear indication of the units of measurement of the physical quantities is missing. From the implementation I guess that we use SI units for every interface (so radians for angles). As this is very common source of errors and bugs, we should make a definite decision and write it down in documentation.

@andreadelprete

[2014-01-28 14:53] francesco-romano opened #15 "icubWholeBodyActuators::setControlMode controlMode is not correctly updated on all joints"
Method `icubWholeBodyActuators::setControlMode` called for all joints.
The controlMode (`currentCtrlModes`) map update can be skipped: see the following code:

[code]

If for the i-th joint the set*Mode returns false, then all subsequent updates are skipped, and the variable `ok` is false. But the first i joints are still in another control mode.
I think the map update should be done contextually

[2014-02-10 15:39] francesco-romano opened #16 "CMakeLists.txt overwrites C++ compiler flags"
When setting a C(C++) compiler flag from CMake we should always append the flag, never overwrite it.

Currently this problem is in all CMakeLists.txt of simulink library and in the ISIR test.

BTW: I think we can remove the -fpermissive flag, at least from our own code.

[2014-02-10 16:00] #16 closed, assigned to nobody

[2014-02-13 11:18] traversaro opened #17 "[icubWholeBodyInterface] isRobotSimulator removal - Flexible way of specifying available sensors"
Inside icubWholeBodyInterface, especially icubWholeBodySensors, some behaviour (reading or not F/T sensors, torque sensors, etc, etc) changes using the hardcoded isRobotSimulator function.
This is an issue because the correct behaviour should change from a simulator to another (for example, PWM sensors are not available neither in iCubSim nor in iCub@Gazebo, while F/T are available in Gazebo, and

[2014-02-14 17:28] traversaro opened #18 "[icubWholeBodyInterface] [icubWholeBodyStates] removeEstimate method not working"
In current version of icubWholeBodyInterface, the removeEstimate method of icubWholeBodyState class simply remove the sensor on which the Estimate depends.

For example, the ESTIMATE_JOINT_ACC for a given joint depends on SENSOR_ENCODER, but if we remove the SENSOR_ENCODER sensor reading, we break also other estimates that depends on it, such as ESTIMATE_JOINT_VEL.

The situation complicates when

[2014-02-17 11:31] francesco-romano opened #19 "Simulink: FindMatlab.cmake (64bit). Do not found existing mex library"
At least for 64bit: FindMatlab.cmake could not find mex, mx and eng libraries (even if they are present).

[2014-02-17 15:58] #19 closed, assigned to nobody

[2014-02-19 11:48] traversaro opened #20 "wholeBodyDynamics(Tree) fails when running under valgrind"
When  running under valgrind (i.e. a lot slowed down), new wholeBodyDynamics fail some iDynTree assertion related to external forces estimation consistency. Using it in real time there are no issues, so I am not further investigating in this, but this could hide some structural bug.

[2014-02-20 14:54] traversaro opened #21 "Double constify wholeBodyModel input parameters"
All input parameters of pointer type of wholeBodyModel should be declared as constant pointers to constant data.

[2014-02-21 13:16] traversaro opened #22 "[icubWholeBodyStates] computeDJdq shold work also for COM"
We have a first implementation of computeDJdq ( https://github.com/robotology/codyco/commit/956d852698c2971a77d0f52169bdde6785616561 ). We should also support computeDJdq with linkID == COM_LINK_ID (i.e. DJdq of the COM).

[2014-02-21 18:19] traversaro opened #23 "Merging of unused branches into master"
Apparently there are some non-trivial (at least for me) conflicts when trying to merge branch module/adaptiveControl in to master .
Could you look into it @francesco-romano ? Thanks.

[2014-02-21 19:27] #22 closed, assigned to nobody

[2014-02-24 16:20] arocchi opened #25 "sfun_time.cpp should use yarp::Time"
by using the YARP time functionalities, we can sync automatically with simulation time instead of system time

[2014-02-28 09:57] traversaro opened #26 "[wholeBodyInterface] For every input/output parameter explictly state in documentation the expected size"

[2014-02-28 12:51] traversaro opened #27 "[iWholeBodyModel] General design revision"
There are some issues in the design of iWholeBodyModel.

First of all, the concept of "all" joints of the robot is necessary, to properly take into account blocked joints. The current approach of adding and removing joints or passing a vector to the iWholeBodyModel implementation constructor is neither viable nor intuitive (furthermore it does not match well with the stateless nature of the iWhole

[2014-02-28 17:23] traversaro opened #28 "Add Valgrind test to Travis build"
Howto: https://github.com/carlosmn/libgit2/commit/e11f23b332483ba26e7412cac74af0ccaefdfaa5
Probably worth adding various custom targets to ctest.

[2014-03-07 19:16] francesco-romano opened #29 "Velocity-dependent effects (C*dq) seems incorrect (wbi with URDF)"
Testing the wbi (with the model loaded from the URDF file) the velocity terms (C*dq) seems incorrect.
It can be either a problem of the URDF parser or of the wbi.
@traversaro  already found some issues in the parser. Maybe they are related.

Tested with [yarpwbiTest](https://github.com/robotology/codyco/tree/rovereto/src/tests/yarpWholeBodyInterfaceTest), model taken from [here](https://github.com

[2014-03-18 08:23] francesco-romano opened #30 "Add a CoDyCo Library project"
I think it can be useful to add a CoDyCo library project to the repository containing common stuff.
For example a `Common.h` file can contain useful macros, a `Math.h` file can contain useful function (e.g. generic Eigen pseudoinverse function)

[2014-03-18 14:10] francesco-romano opened #31 "[icub-WholeBodyActuators] setControlReference setting the whole "part""
This must be tested for different configurations:
- two joints in the same part set in different controlMode
- set velocity reference on the whole part
- set position reference on the whole part

[2014-03-18 16:45] #30 closed, assigned to nobody

[2014-03-27 16:18] hu-yue opened #32 "Simulink blocks JointTorques and InverseDynamics"
it is not clear that the 'tau' from JointTorques (and Dummy JointTorques) and the ones from InverseDynamics are not the same, please specify the difference somewhere or change the blocks

[2014-03-28 17:58] francesco-romano opened #33 "Proper handling of OS X configuration (Matlab/Unicode-related issues)"
Now that KDL (version 1.2.3) respects C++98 standard, we can compile again CoDyCo with `libc++` support.
We have to modify CMake files to proper handle all cases (older version of KDL, user wanting to compile with `libstdc++` support...)
Also simulink library cmake must be changed.

@traversaro

[2014-04-01 09:51] traversaro opened #34 "WBI-T simulink documentation - CoDyCo enviroment variables"
I was reading  https://github.com/robotology/codyco/blob/master/src/simulink/README.md for the first time and it was a bit unclear what the CODYCO_ROOT and CODYCO_DIR enviroment variables are. I guess they should be point to the codyco repository root directory, but this details are currently missing from documentation. @jeljaik

[2014-04-03 09:50] #25 closed, assigned to jeljaik

[2014-04-03 11:11] #34 closed, assigned to jeljaik

[2014-04-04 07:32] traversaro opened #35 "URDF loading in WBI Toolbox"
Manually patching WBI-T to hard code the loading of the appropriate URDF file is proving to be time-consuming and error-prone.
@jeljaik do you think we are able to add it as an option in WBI-T robot configuration?

[2014-04-11 08:56] traversaro opened #36 "[iWholeBodyActuactors] Actuator interface design issues"
Just opened this issue to track every problem that we find in the design of iWholeBodyActuactors.

[2014-04-15 12:04] traversaro opened #38 "[wholeBodyInterface] General Redesign"
A lot of aspects of the `wholeBodyInterface` need a redesign: this issue works as an entry point to all other issues related to `wholeBodyInterface`.
- Core issues:
  - [x] New ID representation : https://github.com/robotology/codyco/issues/6
  - [ ] Document expected size everywhere : https://github.com/robotology/codyco/issues/26
  - [ ] Document units everywhere: https://github.com/robotology/c

[2014-04-15 14:37] traversaro opened #39 "[wholeBodyInterface] Link and frames concepts"
The `link` concept is necessary in the `wholeBodyInterface` in a few user cases:
- We want to calculate a Floating Base Jacobian of a `link`.
- When getting the `ESTIMATE_EXTERNAL_FORCE_TORQUE` we want to get the estimate of the external force torque acting on a `link`.

In this two user cases there is an hidden assumption: that a link is associated to a unique frame.

Regardless of the orientatio

[2014-04-15 17:04] traversaro opened #40 "[wholeBodyDynamicsTree] Backward compatibility"
For simplifying the codyco demo scenario (in relation to https://github.com/robotology/codyco/issues/39)  I was looking into adding /icub/part/endEffectorWrench:o and /icub/part/cartesianEndEffectorWrench:o to stream directly the wrench acting at the end effector, expressed at root (base) and end effector reference frame.

Apparently this ports are used by some users out in the world, as reported

[2014-04-17 14:19] francesco-romano opened #42 "Proper shared library creation"
This is just a todo item.
We should mark exported symbols in our libraries.
See [this](https://www.gnu.org/software/gnulib/manual/html_node/Exported-Symbols-of-Shared-Libraries.html).

[2014-04-18 16:12] traversaro opened #43 "[wholeBodyDynamicsTree] bug on quit rpc command"
When closing wholeBodyDynamicsTree from rpc port (quit command) the following output is printed:

[code]

[2014-04-18 19:16] traversaro opened #44 "[WBI-T] Unconsistent Yarp behaviour when using Yarp compiled as a static library"
Today @iron76 experienced issues in using multiple WBI Toolbox blocks that where reading and writing Yarp ports. He was using OS X 10.7 .
The nature of the problem is still unclear, but it appears that it was related to a conflict in the use of the same static variable among the different copies of the Yarp static library included in the different blocks.

The issue was solved by compiling Yarp as

[2014-04-23 14:14] traversaro opened #45 "[wholeBodyDynamicsTree] Add option to configure default contacts"

[2014-04-28 14:04] traversaro opened #46 "[wholeBodySensors] Blocking sensor readings should have a optional timeout"
A timeout option should be added to iWholeBodySensors::readSensor(s), otherwise a sensor never reporting data would leave the component using the wbi hanging.

[2014-04-29 15:43] #13 closed, assigned to nobody

[2014-04-30 08:41] traversaro opened #49 "[iCubGenova01] [iCubGenova03] CAD parameters for head and root_link"
Apparently inertial values for the V2 `head` are not available in iDyn ( https://github.com/robotology/icub-main/blob/b41c73517c4ad2f7a1c346a4b391aca06585b6a1/src/libraries/iDyn/src/iDyn.cpp#L2626 ). The `root_link` is missing because the iDyn uses a fixed base model.

The current iDyn model uses a 1.33 Kg mass for the head and a 1.2 Kg mass for the root_link .

To get some reasonable a-priori est

[2014-04-30 13:00] francesco-romano opened #50 "Export correctly the (public) include variable"
When using `iDynTree` boost is not automatically included. Its inclusion should be automatically exported in cmake

@traversaro

[2014-05-07 08:47] #35 closed, assigned to jeljaik

[2014-05-07 09:51] traversaro opened #52 "[wholeBodyDynamicsTree] Add option to disable parts at startup"
Probably this will require some changes in wbi .

[2014-05-10 07:34] iron76 opened #55 "wbInterface.cpp and iCubTree_version_tag"
The file wbInterface.cpp currently uses a constructor for the object iCubTree_version_tag which is available only when CODYCO_USES_URDFDOM is enabled. Currently, a compile error is obtained when enabling SIMULINK_LIBRARY without enabling CODYCO_USES_URDFDOM.

[2014-05-10 07:35] iron76 opened #56 "name of FLAG to enable the simulink library compilation"
Please, change the flag SIMULINK_LIBRARY into CODYCO_USES_SIMULINK. The current name is not clear and difficult to find.

[2014-05-10 08:42] #55 closed, assigned to nobody

[2014-05-12 17:14] traversaro opened #57 "yread fails on reading int vector"
yread block fails reading port containing integers.

[2014-05-14 09:15] traversaro opened #58 "World to base/root transformation, velocity and acceleration"
One of the weakest point in the current software architecture is the handling of the world to base/root transformation.
As a remainder for future implementation we should:
- have an only authoritative source of the world to base transformation, for example in the form of a yarp port publishing this transformation.
- add the `getEstimate(ESTIMATE_BASE_POS , ..)` implementation to wholeBodyState and

[2014-05-16 08:40] traversaro opened #59 "Port relevant documentation from codyco wiki to icub wiki"
We have a really good documentation on the coupled joints of the iCub thanks to @DanielePucci .
We should port this documentation to the iCub wiki.
I guess @randaz81 or @pattacini can suggest a good location for this information (perhaps integrated with the iCub manual http://wiki.icub.org/wiki/Manual ).

[2014-05-16 12:25] traversaro opened #60 "Simplify installation"
Apparently is very difficult for an average user (for example someone that is not a programmer and is only used to simulink/matlab) to install all the software for running WBI-Toolbox with a simulator. This is a big problem for dissemination. We have to simplify it.

[2014-05-20 17:48] serena-ivaldi opened #62 "eigen3 issue for Ubuntu12.04"
I'm installing from scratch a new machine that has Ubuntu 12.04. In this version the maximum version of Eigen3 you can download from apt-get is 3.0.5.

So I installed eigen3 from the sources (https://bitbucket.org/eigen/eigen/) and I set the following environment variable in my bashrc:
export EIGEN3_INCLUDE_DIR=$ICUB_INSTALL_PREFIX/include/eigen3

But when I compile codyco, I get the following err

[2014-05-22 13:08] traversaro opened #63 "[wholeBodyInterface] Initialization should be done always in init() functions, not in constructors"
I think that all the initializations should be performed in the init function. This should also include object creations. One reason to do this in the init method is that in C++ constructors cannot fail if not by throwing an exception (and we do not like exceptions, do we?). I'm not against exceptions IMHO they should be confined and used sparsely.
To recap: I think the constructors can take argum

[2014-05-29 14:21] traversaro opened #64 "[wholeBodyInterface] WBI implementations should be thread-safe ?"
During the development of the `torqueBalancing` module we experienced issues because @francesco-romano was assuming that the current iCub WBI implementation was thread safe.
This necessity of thread safety arose in the context of nested control loops: the natural implementation leads to use a thread for each control loop, and both control loops need the information provided by the wholeBodyInterfa

[2014-06-05 09:09] andreadelprete opened #65 "[yarpWholeBodyInterface] Estimate base position and velocity"
As far as I know, the iCub wbi is still lacking the estimation of the position and velocity of the base of the robot. A common approach is to use an Extended Kalman Filter that exploits the IMU and the leg odometry.
I think this estimation is fundamental for push-recovery and walking scenarios. Should this estimation be implemented inside wholeBodyDynamicsTree? Who should be in charge of specifyin

[2014-06-12 08:42] traversaro opened #66 "[wholeBodyDynamicsTree] gravityCompensator"
Provide wholeBodyDynamicsTree with the stuff necessary to work with the existing gravityCompensator, and eventually write a gravityCompensatorTree module.

In this way the iDynTree-based solution can be used as a drop-in replacement for the old iDyn-based wholeBodyDynamics/gravityCompensator.

[2014-06-18 11:35] #56 closed, assigned to jeljaik

[2014-06-24 09:32] #32 closed, assigned to jeljaik

[2014-07-19 18:50] #50 closed, assigned to nobody

[2014-07-29 17:27] traversaro opened #69 "Transform jointTorqueControl GAZEBO_SIM macro in a runtime option"
If the jointTorqueControl is going to be used in real life ( : ( ) I guess we should try to streamline its use a bit.
 As a first thing, the GAZEBO_SIM macro should not be hidden in an anonymous source code file, but should be more visible. I guess the easiest thing is to transform it in a runtime option. Some volunteer for the task?
cc @DanielePucci @rlober @darwinlau @azadm @mingxing-liu @hu-yue

[2014-07-29 21:01] jeljaik opened #70 "[wholeBodyDynamicsTree] Crashing when launching it with icubGazeboSim"
Hello there,

With a freshly updated repository **wholeBodyDynamicsTree** is throwing an assertion after calibration when launching it with the simulator. I'm running the following:

`wholeBodyDynamicsTree --robot icubGazeboSim --name wbdt --headV2 --legsV2 --feetV2 --urdf icub_simulation.urdf`

[code]

I have compiled everything with the following flags that might be relevant:
`CODYCO_ICUBWBI_USE

[2014-07-29 21:25] #70 closed, assigned to nobody

[2014-08-05 13:59] #12 closed, assigned to nobody

[2014-08-07 15:08] traversaro opened #71 "Properly produced robot-specific configuration files"
Several modules (for example wholeBodyDynamicsTree) require robot-specific configuration. We have to provide this information using the [robots directory](http://wiki.icub.org/yarpdoc/yarp_data_dirs.html#datafiles_contextsrobots).
@jeljaik already did some of this work in WBIToolbox, we have to properly integrate with the `robots` directory.

[2014-08-08 15:05] traversaro opened #72 "Process output of motorFrictionExcitation and motorFrictionIdentification"
Friction identification is performed using the two modules motorFrictionExcitation [1] and motorFrictionIdentification [2].
Data about this friction is currently saved in a custom file and this data is then used for the JTC module.

In the future we will want to:
- load this data to correctly set friction related parameters of URDF/SDF,
- load this data to correctly set parameters in the firmware

[2014-08-18 10:57] francesco-romano opened #73 "[JointTorqueControl] Incompatibility with upcoming iCub firmware update"
Due to upcoming changes in the iCub firmware, the `IOpenLoop` interface behaviour will drastically change.
JointTorqueControl will NOT be compatible with those changes and its use MUST be avoided.

We have to add a step during the module launch so that the user explicitly confirm the module launch.
@DanielePucci

[2014-10-09 12:38] #62 closed, assigned to nobody

[2014-10-09 12:44] #69 closed, assigned to nobody

[2014-10-09 16:26] traversaro opened #75 "[wholeBodyDynamicsTree] crash when connecting to /skinManager/skin_events:o"
When trying to connect to the `/skinManager/skin_events:o` port, wholeBodyDynamicsTree crashes with the following message:
[code]

This bug was observed on the iCubGenova01 console.

[2014-10-27 16:42] traversaro opened #76 "Deprecate CODYCO_USES_URDFDOM"
Not that we have URDF cleanly obtained from CAD files, we should drop support for model loading from the legacy iDyn library (this would also help in avoiding inconsistencies across the superbuild).
For doing that we should drop the support for disabling the CODYCO_USES_URDFDOM macro.

[2014-10-31 17:33] #45 closed, assigned to traversaro

[2014-10-31 17:34] #52 closed, assigned to nobody

[2014-11-10 14:46] francesco-romano opened #77 "Improve WBD3"
This issue is just a reminder.. nothing too serious or urgent.

`using namespace` should not be used in header files. They can create namespace conflicts if the header is included somewhere else.

[2014-11-10 15:17] #77 closed, assigned to traversaro

[2014-11-11 10:17] traversaro opened #78 "[torqueBalancing] warning: returning reference to temporary"
[code]

[2014-11-17 10:20] andreadelprete opened #79 "DynTree::getDOFIndex : DOF 5 of part 6 not found"
When using the wholeBodyInterface in wholeBodyReach now I get the following error messages:
[code]

[2014-11-19 10:26] #78 closed, assigned to nobody

[2014-11-21 15:02] MoritzN89 opened #80 "CoDyCo superbuild wont install"
Hello,
when I try to do "make" in codyco-superbuild/build I get this errors:

Linking CXX executable ../../../bin/locomotionControl
/usr/lib/libctrlLib.a(minJerkCtrl.cpp.o): In function `iCub::ctrl::minJerkVelCtrlForNonIdealPlant::setPlantParameters(yarp::os::Property const&, std::string const&, yarp::os::Bottle const&)':
minJerkCtrl.cpp:(.text+0xb4c8): undefined reference to `yarp::os::Property::

[2014-12-12 10:44] rbonghi opened #82 "[WholeBodyDynamicsTree] Inconsistent measurement of joint friction"
I am using Whole Body Dynamics (WBD) and Whole Body Dynamics Tree (WBDT) to measure friction on joint (test on iCubGenova03 and iCubGenova01), but I have a problem to acquire data.

If I acquire torque and velocity in different position from same joint I measure a drift in friction, because I expect the same result for any position.

For these experiments I calibrated (WBD or WBDT) in the fixed po

[2014-12-12 10:45] rbonghi opened #83 "[WholeBodyDynamicsTree] Measurement error of external forces"
In iCubGenova03 I measure external forces on legs when the robot is calibrated in root_link. I have run:

[code]

Different result if I use IMU.
I do not measure any external forces on wholeBodyDynamicsTree.

[2014-12-17 10:43] traversaro opened #84 "[wholeBodyDynamicsTree] bug in skin contacts"
For some reason the skin contact is not stable in wholeBodyDynamicsTree.

[2014-12-18 15:46] francesco-romano opened #87 "[InSituFTCalibration] duplicate symbols"
[code]

[2014-12-18 16:25] #87 closed, assigned to traversaro

[2015-01-07 17:59] iron76 commented on #58
I assigned this to Naveen since this was the original plan. @naveenoid, can you commit on that even if you are working from a remote country :smile:

[2015-01-08 05:08] naveenoid commented on #58
Sure! Will work on it right away :)

---
Naveen Kuppuswamy, PhD
Post-doctoral Fellow,
Cognitive Humanoids Lab,
Department of Robotics, Brain and Cognitive Sciences (RBCS),
Istituto Italiano di Tecnologia, Genova, Italy

On Wed, Jan 7, 2015 at 6:59 PM, Francesco Nori <notifications@github.com>
wrote:

[2015-01-12 10:58] alecive commented on #66
+1

[2015-01-14 10:28] francesco-romano commented on #80
Hi @MoritzN89  (cc @traversaro)
What is the status of this issue?
Have you managed to solve it?

[2015-01-14 10:30] francesco-romano commented on #60
I close since we moved all related issues in https://github.com/robotology-playground/WBI-Toolbox project

[2015-01-14 10:30] #60 closed

[2015-01-14 10:32] francesco-romano commented on #57
@jeljaik What is the status of this issue?
If it is still opened, I think we should move it in the related project and close it here :)

[2015-01-14 10:34] francesco-romano commented on #44
Because the yarp network object implements a sort of "reference count" for the init/fini methods, the use of a static library is quite dangerous.
We can close this issue. Yarp MUST be compiled as a shared library (and this is already mentioned in the installation guide)

[2015-01-14 10:36] francesco-romano commented on #33
The issue is present only on old version of matlab (for sure < R2014a)

[2015-01-14 10:36] #33 closed

[2015-01-14 10:37] traversaro commented on #44
The issue was still open for enforcing YARP a shared library in CMake
configuration
On Jan 14, 2015 11:34 AM, "Francesco Romano" <notifications@github.com>
wrote:

[2015-01-14 10:47] MoritzN89 commented on #80
I managed it to install everything, but the robot stills goes crazy (see https://github.com/robotology-playground/WBI-Toolbox/issues/33). I tried many different gains but the robot falls on the ground or flies around the simulator. When I used the fixed feet icub model he managed it not to fall down or something, but makes strange movements (keeps up the arm and stuff). We explained this our super

[2015-01-14 10:53] francesco-romano commented on #80
@MoritzN89 Ok.
Because you opened the other issue and this one is solved I close this.
About the other issue I think that as soon as we have a stable gazebo/simulink synchronizer we can narrow the causes of the issue and hopefully solve it.

[2015-01-14 10:53] #80 closed

[2015-01-19 23:51] traversaro commented on #79
Solved in https://github.com/robotology/codyco-modules/commit/8684d8a627b5bbef6fbcd2dc52f48aa5f1e63b0d .

[2015-01-19 23:51] #79 closed

[2015-01-19 23:51] traversaro commented on #76
Solved in https://github.com/robotology/codyco-modules/commit/8684d8a627b5bbef6fbcd2dc52f48aa5f1e63b0d .

[2015-01-19 23:53] #76 closed

[2015-01-19 23:53] traversaro commented on #63
Solved in https://github.com/robotology/codyco-modules/commit/8684d8a627b5bbef6fbcd2dc52f48aa5f1e63b0d .

[2015-01-19 23:54] #63 closed

[2015-01-19 23:54] traversaro commented on #6
Solved in https://github.com/robotology/codyco-modules/commit/8684d8a627b5bbef6fbcd2dc52f48aa5f1e63b0d .

[2015-01-19 23:54] #6 closed

[2015-01-19 23:56] traversaro commented on #75
Solved in https://github.com/robotology/codyco-modules/commit/8684d8a627b5bbef6fbcd2dc52f48aa5f1e63b0d .

[2015-01-19 23:56] #75 closed

[2015-01-19 23:57] traversaro commented on #17
Solved in https://github.com/robotology/codyco-modules/commit/8684d8a627b5bbef6fbcd2dc52f48aa5f1e63b0d .

[2015-01-19 23:57] #17 closed

[2015-01-19 23:57] traversaro commented on #18
Solved in https://github.com/robotology/codyco-modules/commit/8684d8a627b5bbef6fbcd2dc52f48aa5f1e63b0d .

[2015-01-19 23:57] #18 closed

[2015-01-21 22:16] #73 closed

[2015-01-27 10:32] traversaro opened #89 "[wholeBodyDynamicsTree] Unit testing"
`wholeBodyDynamicsTree` is module deputed to estimated joint torques in robot with joint torque sensors, and it is a critical piece of a our infrastructure. Unfortunatly is also highly sensitive to possible failures in a lot a underlying subsystems.
Failure that affect wholeBodyDynamicsTree are:
  * Wrong kinematic or dynamic model of the robot,
  * Wrong kinematic placement of the sensors,
  * Wr

[2015-01-27 13:08] traversaro opened #90 "[wholeBodyDynamicsTree] safely deal with corner case"
For safety,  wholeBodyDynamicsTree should deal safely with the following scenarios:
* [ ] if the wholeBodyDynamicsTree is closing or is calibrating, all the joint for which wholeBodyDynamicsTree is providing torque estimates (using the autoconnect flag) should be safely switched to a controlMode/interactionMode that does not need torque measurements: if the joints is in `CM_TORQUE` it should switc

[2015-01-29 18:24] traversaro commented on #89
Today several issue affected wholeBodyDynamicsTree. From this experience it could be useful to add:
* [ ] tests checking that changing the kinematic source of information (imu or a fixed frame) for both estimation and calibration does not change the estimate/offset calibration.
* [ ] tests simulating the presence of external forces, checking the consistency of the analytic torque expected in the m

[2015-02-05 17:07] traversaro commented on #58
Ok, after https://github.com/robotology-playground/yarp-wholebodyinterface/commit/7381d8b8c0bd3363ac9ff35c55790f75448fd728 we now have a basic `ESTIMATE_BASE_POS` implementation in yarp-wholebodyinterface.
To definitely remove the workaround we have in the code and switch to using the State interface instead, we have to:
  * [ ] properly orient `l_sole` in the model, so we don't need hardcoded rot

[2015-02-06 06:39] naveenoid commented on #58
How can we move to ESTIMATE_BASE_VEL or ESTIMATE_BASE_ACC without the probabilistic estimation framework? Is there any short-term solution apart from computing it from the kinematic ESTIMATE_BASE_POS numerically? (might be highly noisy)

[2015-02-06 09:36] traversaro commented on #58
The key idea is briefly explained in this math pastedbin: http://mathb.in/27093?key=93543ca91e0b5f8984e2c565133a9c075afc4082 .

[2015-02-06 09:52] traversaro commented on #58
@jeljaik can correct me, but I guess that the only place where we need the ESTIMATE_BASE_ACC is the WBI-Toolbox ?

[2015-02-06 10:43] jeljaik commented on #58
In WBI-Toolbox we actually have just a block to estimate base velocity, not acceleration.

[2015-02-06 11:22] naveenoid commented on #58
Im working on implementing ESTIMATE_BASE_VEL in yarpWholeBodyState right
now.

---
Naveen Kuppuswamy, PhD
Post-doctoral Fellow,
Cognitive Humanoids Lab,
Department of Robotics, Brain and Cognitive Sciences (RBCS),
Istituto Italiano di Tecnologia, Genova, Italy

On Fri, Feb 6, 2015 at 11:43 AM, Jorhabib Eljaik <notifications@github.com>
wrote:

[2015-02-06 11:28] traversaro commented on #58
The ESTIMATE_BASE_ACC is something similar, but using also dJdq.

[2015-02-07 13:09] rbonghi commented on #82
I repeat again this experiment on **iCubGenova01** and I have a significant error when I put the robot in equilibrium with a one foot or the robot is in equilibrium in double support.
**Leg - Left - Hip - Roll**
![onetwofeet](https://cloud.githubusercontent.com/assets/4551246/6092160/3632252a-aed1-11e4-9e00-77c7790d7de0.png)

I have a different offset by **3 [Nm]** in single suppport and **-7 [Nm]

[2015-02-11 09:05] traversaro opened #91 "regressions with iDynTree v0.3"
* [x] wrong limits in the generated urdfs
* [x] wrong frames used for broadcast force
* [x] problem in assume_fixed* options

[2015-02-12 11:28] traversaro commented on #91
For the wrong frames stuff, I have commited the fixes in `fixiCubGuiForces` branches of `codyco-modules`, `iDynTree` and `yarpWholeBodyInterface`. Can you try on the real robot @DanielePucci @francesco-romano ? Then we can merge.

[2015-02-12 11:29] traversaro commented on #91
Wrong limits stuff discussion moved to https://github.com/robotology/codyco-superbuild/issues/55 .

[2015-02-12 11:35] traversaro commented on #71
@traversaro : for the use case you are proposing, prepending YARP_ROBOT_NAME="iCubGenova01" and YARP_ROBOT_NAME="iCubHeidelberg01" when launching the two different controllers should be ok.

After the new_wbi_ID merge, we are now fruitfully using the robot-specific configuration files. Closing for now.

[2015-02-12 11:35] #71 closed

[2015-02-12 11:39] traversaro commented on #58
Any news?
While I was updating the models generated with the old method (see https://github.com/robotology/codyco-superbuild/issues/55 ) I also added a `codyco_world_balancing` frame that can is exactly the one that we used for balancing demo until now (in this way we can avoid having strange transformation matrices hardcoded in the source code). I couldn't change the l_sole definition to match th

[2015-02-13 10:08] naveenoid commented on #58
Im debugging ESTIMATE_BSAE_VEL..should push shortly.

---
Naveen Kuppuswamy, PhD
Post-doctoral Fellow,
Cognitive Humanoids Lab,
Department of Robotics, Brain and Cognitive Sciences (RBCS),
Istituto Italiano di Tecnologia, Genova, Italy

On Thu, Feb 12, 2015 at 12:39 PM, Silvio Traversaro <
notifications@github.com> wrote:

[2015-02-13 22:22] traversaro commented on #91
Fixed in https://github.com/robotology/codyco-modules/commit/c5f5db5cc9bba02e015040fee3f6a15c3412b360 .

[2015-02-13 22:22] #91 closed

[2015-02-19 07:45] DanielePucci commented on #58
Hi guys, any news on this critical issue?

[2015-02-19 08:18] naveenoid commented on #58
pushing today..was trying to organise the unit test folders

---
Naveen Kuppuswamy, PhD
Post-doctoral Fellow,
Cognitive Humanoids Lab,
Department of Robotics, Brain and Cognitive Sciences (RBCS),
Istituto Italiano di Tecnologia, Genova, Italy

On Thu, Feb 19, 2015 at 8:46 AM, Daniele <notifications@github.com> wrote:

[2015-02-19 09:06] traversaro commented on #58
Great! Could you open a PR so se can double check the code?
On Feb 19, 2015 9:18 AM, "Naveen Kuppuswamy" <notifications@github.com>
wrote:

[2015-02-23 16:06] francesco-romano opened #94 "[wholeBodyDynamicsTree] error message printed at startup (even if there are no real errors)"
The trace is
[code]
**[ERR] loadIdListFromConfig error: requested list ROBOT_DYNAMIC_MODEL_JOINTS not found**
[code]

[2015-02-26 18:59] traversaro opened #95 "[wholeBodyDynamicsTree] add rpc method for getting information on how wbd is launched/configured"
For example, is any link is assumed fixed or thing like that.

[2015-02-26 19:38] DanielePucci commented on #95
+1

[2015-02-27 10:55] traversaro opened #96 "Investigate random bug of wholeBodyDynamicsTree"
[code]

[2015-02-28 17:47] traversaro commented on #96
More info:
[code]

It is quite dangerous, because it corrupts all torque estimates.

[2015-03-02 14:57] traversaro commented on #96
[code]

[2015-03-02 17:18] traversaro commented on #58
cc @rlober @darwinlau

[2015-03-02 18:48] traversaro commented on #96
[code]

[2015-03-02 22:28] DanielePucci commented on #96
+1 very well

[2015-03-05 15:56] traversaro commented on #59
Done in http://wiki.icub.org/wiki/ICub_coupled_joints .

[2015-03-05 15:56] #59 closed

[2015-03-06 08:43] traversaro commented on #95
To streamline the program we will make use of http://wiki.icub.org/yarpdoc/thrift_editor.html , as discussed in https://github.com/robotology/yarp/issues/184 .

[2015-03-09 16:28] traversaro commented on #95
First options to add to a "settings" structure:
 * min_taxel
 * cutoff frequency of the filters
 * enable/disable use of omega/domega measurements from imu.

[2015-03-10 19:04] traversaro opened #101 "[wholeBodyDynamicsTree] wholeBodyDynamicsTree : fail if necessary lists (joints, IMUs, FTs sensors) are not found"

[2015-03-10 19:05] traversaro commented on #101
For the moment a segfault happens instead.

[2015-03-11 19:07] traversaro opened #102 "[***] new torque control law implemented on the firmware"
Due to some constraints given by backward compatibility and consistency with existing interfaces, we elaborated with @randaz81  a new arrangement  of the control scheme to be implemented in the firmware. I open this issue here to document this new arrangement and for eventually updating *you know what*.

Documentation on the new torque control scheme: http://mathb.in/28925 .

cc @rbonghi @DanieleP

[2015-03-16 10:42] DanielePucci opened #106 "[torqueBalancing] Add an automatic calibration of wholeBodyDynamicsTree before starting the module"
For the time being, we run the calibration of WBDT before the start of the module (manually and externally), and this calibration is designed ad-hoc for the robot to stand on both feet. Can we add an automatic calibration of WBDT before the start of the torqueBalancing? @francesco-romano @traversaro

[2015-03-16 10:51] traversaro opened #107 "[codycoDemoY2] Leg cartesian control"
For solving the inverse geometric problem for the legs for codyco second year demo, the easy way is the following:
  * A custom `cartesianSolver` can easily spawned for both the single leg and the chain formed between the support foot and the stepping foot. The relevant tutorial for spawning a general cartesian solver is provided in http://wiki.icub.org/brain/icub_anyrobot_cartesian_interface.html

[2015-03-16 11:28] traversaro commented on #107
The `iKinChain` description of the legs can be obtained with (where `model.urdf` is the URDF model of the iCub, normally available in the yarpWholeBodyInterface configuration files):
[code]
The chain where the left leg is in support and the right leg is moving can be obtained as:
[code]

Then the cartesianSolver module can be configured as:
[code]

[2015-03-17 15:11] traversaro commented on #107
Some issue in generating DH parameters for iCubGenova01 legs were solved in  https://github.com/robotology-playground/idyntree/issues/26 .

In https://github.com/robotology/codyco-modules/commit/09a380f8075df5a5b22243fbc201932933d019d8 I added the configuration files descibed in this issues and the relevant DH parameters for the `iCubGenova01`.

The solver for just the chain from `root_link` to `r

[2015-03-17 15:12] #107 closed

[2015-03-19 11:29] traversaro opened #109 "[codycoDemoY2] graspAndStepDemo Coordinator"
For the advanced version of the codycoDemoY2, we need to develop a little FSM machine that interacts with the `torqueBalancing` module and the `***GraspManager` module to perform a step if the object to grasp (in our case the red ball) is too far from the robot.

This component (the stepping demo coordinator) will be developed in lua to exploit the `rFSM` library.

[2015-03-23 13:06] traversaro commented on #96
More examples: https://gist.github.com/traversaro/b745fc4e8a82db581f01 .

[2015-03-24 10:20] traversaro opened #112 "[wholeBodyDynamicsTree] 3 threads saturate CPU usage when Yarp is compiled with OpenBLAS"
On the `iCubGenova01` setup, we notice that wholeBodyDynamicsTree was unusually CPU-intensive, after a quick debug we realized that 3 threads where actually saturating a core each:

[code]

Apparently this three threads are created at loading by OpenBlas :
[code]

This is the system in which we experienced this issue:
[code]

And this is the installed version of OpenBLAS:
[code]

[2015-03-25 09:04] traversaro commented on #58
The first implementation by @naveenoid was merged in the `yarp-wholebodyinterface` in https://github.com/robotology-playground/yarp-wholebodyinterface/commit/85a3d30bfa1be1590b9634248bd89828109097d5 . At this point, we can migrate our software (as outline in https://github.com/robotology/codyco-modules/issues/58#issuecomment-73084506) to use `getEstimate(ESTIMATE_BASE_POS)` .

At this point, then

[2015-03-30 21:33] traversaro commented on #94
Fixed in https://github.com/robotology-playground/yarp-wholebodyinterface/commit/ac7a90275f3fddc7531a055cfa89317b172a2732 .

[2015-03-30 21:33] #94 closed

[2015-03-31 08:04] francesco-romano opened #114 "[TorqueBalancing] Clean up module"
The module was thought with the CoDyCo Y1 demo in mind.
New requirements now ask for cleaning up the module and transform it into a generic balancing module

Tasks are:

- [x] create and reads external references through RPC port
- [x] remove the old embedded FSM
- [x] handle contraints changes
- [x] robustify start/stop switching: when the controller is started references must be reset to the act

[2015-03-31 08:08] traversaro commented on #114
* [ ] adding an `events:i` port to raise events  (to be discussed) ?

[2015-03-31 08:12] francesco-romano commented on #114
`events:o` ? Anyway, +1

[2015-03-31 08:33] traversaro commented on #114
Just for refence: the place holder functions for activating/deactivating contacts in lua are: https://github.com/robotology/codyco-modules/blob/master/src/modules/graspAndStepDemo/lua/gas_funcs.lua#L28 . Obviously we are free to change them.

[2015-03-31 13:30] traversaro commented on #58
Brief recap:
 * @rlober is migrating codyco-isir module, encountering some problems, solved in https://github.com/robotology-playground/yarp-wholebodyinterface/issues/29  .
 * @jeljaik is migrating WBI-Toolbox
 * @francesco-romano is migrating torqueBalancing
 * @naveenoid is doing various fixes to mexWholeBodyModel .

The biggest inconsistency that I fear at the moment is this one: when in double

[2015-03-31 13:38] traversaro commented on #114
* [ ] remove references to the "hand" end-effectors (until we have the link-generic constraint support)?

[2015-03-31 13:55] traversaro commented on #114
ref https://github.com/robotology/codyco-superbuild/issues/61

[2015-04-01 09:14] jeljaik commented on #58
@traversaro @naveenoid @DanielePucci
While migrating the WBI-Toolbox I spent some time debugging something I assumed incorrectly. @naveenoid told me that the output of `getEstimates(wbi::ESTIMATE-BASE_POS, ... )` was a 12-dim array (a pointer to that array to be more precise) where the first 3 elements correspond to the position and the last 9 to the unfolded rotation matrix. This order however do

[2015-04-01 10:41] rlober commented on #58
Just a question, why does the frame constructor initialize `p[2]`=z to the 8th element of the 16x1 vector?
`p[2]=d[8]`
Shouldn't it be  `p[2]=d[11];`?

Just my two cents...
It seems like changing the `ESTIMATE_BASE_POS` output to 9x1 rot then 3x1 pos is the easiest solution given its recent development. Then the next question would be can we add a check in the frame constructor for a special case

[2015-04-01 11:22] jeljaik commented on #58
You're right @rlober I forgot to mention that in my previous comment! and yes, an additional constructor could be an option too, although a bit redundant I think. I would prefer to stick to one convention. Let's wait for the others to reply.

[2015-04-01 11:27] jeljaik commented on #58
I have another issue ... Right now, the estimate of the base pose is done assuming no input on the joint angles, but it uses the current state of the interface for the computations. In some blocks of the Toolbox, say `Inverse Dynamics` we had the possibility of providing input joint angles different from the current configuration of the robot. This was used for debugging purposes as you might reca

[2015-04-01 11:34] rlober commented on #58
Hey @jeljaik

Actually all I meant was something along the lines of:

**wbiUtil.h**
[code]
This would be back compatible with existing constructor usage and provide a little extra functionality for the base pos estimate.

[2015-04-01 12:14] traversaro commented on #58
As @jeljaik mentioned, perhaps using the same convention used in the wbi::Frame constructor (and hence in the KDL::Frame, by the way) would be a good idea.
At this point we still can still modify all the code using `getEstimates(wbi::ESTIMATE-BASE_POS, ... )` ourself.

Beside that, we should properly document the nature of the various estimate in the iWholeBodyState doxygen documentation

In the l

[2015-04-01 12:23] traversaro commented on #58
@jeljaik : regarding the input of inverse dynamics: if you want to use the inverse dynamics with a position state (i.e. floating base position + joint positions) that is not the one currently provided by the state estimator, you should provide as an input both the **joint position** and the **floating base position**. Automatically computing the  **floating base position** from the **joint positio

[2015-04-01 12:28] jeljaik commented on #58
@traversaro my  bad, I didn't explain myself well enough. I meant about the estimate of the world to base rototranslation given a desired configuration that is not the current estimator state.

[2015-04-01 12:32] traversaro commented on #58
@jeljaik : my view on that is that is not something that in general the `iWholeBodyState` can provide.
Think for example of flying robot: in that case probably the `getEstimates(wbi::ESTIMATE-BASE_POS, ... )` would come from the fusion of inertial sensor information, GPS and visual/LIDAR sensing. In that case, there is no relationship between the joint position configuration and the floating base

[2015-04-01 18:15] rlober commented on #58
Any body have a comment on the issue @jeljaik and I brought up for the frame constructor?

[2015-04-02 07:37] DanielePucci commented on #106
Any ideas on this?

[2015-04-02 09:11] DanielePucci commented on #58
I've modified the yarpWholeBodyInterface.ini and yarpWholeBodyInterface_jtc.ini, when present, to load

WORLD_REFERENCE_FRAME codyco_balancing_world

(instead of l_sole) and to estimate the base position and velocity (i.e. estimateBasePosAndVel). The following robots have been modified iCubGazeboSim, iCubGenova01, iCubGenova03, iCubParis01, iCubParis02, iCubDarmstadt01 @traversaro @francesco-roman

[2015-04-02 09:44] traversaro opened #115 "Find a way to easily put the robot in a desired configuration"
Currently we are using the `yarpmotorgui`, but it takes a lot of time from being in the terminal with the joint position file available, to actually set the robot in a desired configuration (30 secs? 1 min?).

The easiest way to solve this is probably to improve the `yarpmotorgui` usability.

[2015-04-02 10:56] francesco-romano commented on #115
But.. what's the status of `yarpmotorgui` ?

[2015-04-02 11:45] traversaro commented on #115
?

[2015-04-02 12:29] francesco-romano commented on #115
I was meaning: is it useful? Have we tried to load a sequence in it and see how it behaves?
ect..

[2015-04-02 13:12] traversaro commented on #115
`yarpmotorgui` is just the new names of `robotMotorGui` on yarp machine where Qt5 is not installed.
For the Qt5 version, @DanielePucci did some testing.

[2015-04-04 08:38] traversaro commented on #115
Providing a custom 'yarpmotorgui' configuration file with a custom home seems already to be a much better solution, as suggested by @DanielePucci

[2015-04-09 12:08] randaz81 opened #116 "[wholeBodyDynamicsTree] port /wholeBodyDynamicsTree/filtered/inertial:o not working"
WholeBodyDynamicsTree opens the port "/wholeBodyDynamicsTree/filtered/inertial:o"  but does not send anything to it.

[2015-04-09 14:29] #116 closed

[2015-04-10 10:19] traversaro commented on #115
Adding the `yarpmotorgui` configuration files in the robots-specific file of torqueBalancing is a satisfying solution for now ( https://github.com/robotology/codyco-modules/commit/b5e14dc005b5ab7d8a533d2f27aa25d984b57ff3 ), closing for now.

[2015-04-10 10:19] #115 closed

[2015-04-12 10:53] traversaro commented on #58
Brief recap: we did the migration to the new `l_sole/r_sole` frame orientations in `icubGazeboSim`, `iCubParis01` and `iCubParis02`. We are awaiting for migrate all other models once we are back in Genoa and we can test all the software. In the meanwhile, please stick to use `codyco_world_balancing` as the world frame, or for getting the frame with the old X-UP Y-RIGHT Z-FRONT use the `r_foot_dh_f

[2015-04-13 08:01] naveenoid commented on #58
codyco_world_balancing works fine in forward-dynamics. Tested simple
feedforward torque trajectories.

---
Naveen Kuppuswamy, PhD
Post-doctoral Fellow,
Cognitive Humanoids Lab,
Department of Robotics, Brain and Cognitive Sciences (RBCS),
Istituto Italiano di Tecnologia, Genova, Italy

On Sun, Apr 12, 2015 at 12:53 PM, Silvio Traversaro <
notifications@github.com> wrote:

[2015-04-16 11:02] traversaro opened #117 "[wholeBodyDynamicsTree] robust react to sensor timeout"

[2015-05-11 11:01] traversaro opened #118 "Get rid of codyco-modules/extern/eigen_unsupported"
In this repository there is a directory that is hosting the `Eigen` LGSM module.
Given that the ocra modules are not getting LGSM from here, I guess it is safe to remove it?
@rlober @serena-ivaldi

[2015-05-11 11:07] traversaro commented on #118
Can we also get rid of the `src/python` directory? It's use is not explained anywhere, and they are messing up doxygen documentation.

[2015-05-11 11:45] rlober commented on #118
As far as I am concerned **yes** for `eigen_unsupported`. I have created a repo for our old eigen 3.0.5 with lgsm [link to repo](https://github.com/ocra-recipes/eigen_3_0_5). So even if you delete it we have a backup.

As for `src/python` it doesn't look like it has seen much action recently, but since these are all Serena's I will defer to her. My guess is that she doesn't need them anymore, but

[2015-05-11 12:21] traversaro commented on #118
:+1:

[2015-05-21 10:20] francesco-romano opened #119 "[TorqueBalancing] Allows app-specific torque PIDs"
We should add a section in the configuration file where we can specify torque PIDs for a particular set of joints.
These PIDs should be set at startup (and the default one restored when app closes)

[2015-06-10 02:28] traversaro commented on #66
reminder for @traversaro : remember @randaz81 request.

[2015-06-15 08:30] traversaro commented on #96
Just found a way of replicating this: just exert two forces with different application points on a single link. Working on a fix.

[2015-06-15 08:51] iron76 commented on #96
:+1:

[2015-06-15 14:54] traversaro opened #122 "Slight mismatch in base force torque computed by dynamicRNEA when reading skin contacts."
If the external forces are properlty estimated from sensor readings, the residual coming from the computation of the dynamic step of the RNEA (including the estimated external forces) should be zero.
Sometimes a warning appears saying that this residual is not zero, but this mismatch appear to be within the noise band of the estimation. My impression is that there is some sort of one-step mismatch

[2015-06-15 14:54] traversaro commented on #96
Bug fixed in https://github.com/robotology-playground/idyntree/commit/b6985e807fc074b4763b7b60eb0a0a37ec4a50b8 .
A slight mismatch remain in the base residual force, but I guess is something related to some kind of one-step offset between the value readed from the robot. However it is a relatively minor problem, addresed in issue https://github.com/robotology/codyco-modules/issues/122 .

[2015-06-15 14:54] #96 closed

[2015-06-18 09:50] naveenoid opened #123 "automatic calibration of foot accelerometer / gyro tranformations"
In the module quaternionEKF, the calibration procedure must exist within the module as a C++ component without having the need to use Matlab. quaternionEKF also needs debugging for the singularity issue.

[2015-06-23 08:19] traversaro commented on #123
My two cents:
  * I don't know if C++ is the right way to go... for friction estimation we noticed that online inspection of results is fundamental for a day-to-day use of a calibration tool, and with C++ it is quite tricky to implement. Perhaps some (free) scripting language is more indicated?
 * For storing calibration results, we need a format to store sensors information.. we can proceed follo

[2015-06-23 09:05] randaz81 commented on #123
You can look at https://github.com/robotology/icub-tests/tree/master/src/opticalEncoders-consistency for an example of plot in C++ (using gnuplot). Actually a https://github.com/robotology/icub-tests/tree/master/src/motor-stiction is also available, but is not fully finished.

[2015-06-23 09:16] traversaro commented on #123
Perfect then, we can go with C++ with proper plotting.

[2015-07-22 13:11] traversaro commented on #58
cc @francesco-romano

[2015-07-22 15:45] traversaro commented on #112
cc @francesco-romano @alecive

[2015-07-23 08:37] naveenoid opened #124 "quaternionEKF - random crashes"
Random crashes  observed with the quaternion EKF module. No real trends seen in the nature of crashes.

[2015-07-23 08:39] naveenoid opened #125 "quaternionEKF - IMU not very reliable"
Preliminary tests using just the xsens placed on perfectly flat ground give varying readings. Over trials of 30 seconds each, there were differences of over 0.5 degree between trials on average. Differences cannot be explained due to randomness as the variance of each trail was equal. Can submit plots to justify this observation.

Not sure if its the IMU api or something  else.

[2015-07-23 10:58] naveenoid opened #126 "F/T sensor offsets after calibration must be readable through RPC"
The offsets produced by a calibration script (macumba) must be readable using a RPC. This is needed by any other process that works with F/T data.

[2015-07-23 11:08] traversaro commented on #126
I think the easiest way to implement this feature is through the [thrift support for editing/querying data structures automatically from RPC](http://wiki.icub.org/yarpdoc/thrift_editor.html).

[2015-07-29 16:27] DanielePucci opened #128 "[wholeBodyDynamicsTree] The parameter "cutoff" in wholeBodyDynamics.ini is ineffective"
The parameter "cutoff" in the configuration file wholeBodyDynamicsTree.ini is ineffective.

[2015-07-29 16:32] traversaro commented on #128
Actually it is effective, it changes the cutoff frequency of the only low-pass filter that is executed in the wholeBodyDynamicsTree, the one that filters IMU measurements.

[2015-07-29 20:42] DanielePucci commented on #128
Then, as we discussed, changing the name of the parameter may help users to understand better its meaning. Otherwise, one may be confused by its name, and assume that other measurements arriving to the module, e.g. those from the FT sensors, are also filtered.

[2015-07-29 23:42] traversaro commented on #128
`cutoff` was documented both in the help message and in the doxygen documentation (not updated due to https://github.com/robotology/codyco-superbuild/issues/80 ).
By the way, this issue should be solved by https://github.com/robotology/codyco-modules/pull/129 .. can you check it ?

[2015-07-30 05:45] DanielePucci commented on #128
It seems to me that in the help message, it was not specified that ~~cutoff~~ was for the IMU measurements only, i.e.

[code]

Anyways, I'll check the fix soon. Thanks a lot Si :+1:

[2015-07-30 06:35] traversaro commented on #128
The only filters in the module where the ones for the IMU measurements, so the documentation was correct (and consistent with the old wbd). I was wrong in remembering the filter that where implemented in the module.

[2015-07-30 09:07] DanielePucci commented on #128
I checked the effect of
[code]
while performing a trajectory tracking (qd(t) = 10° sin(0.5Hz t) ) through a computed-torque control.

Here are the results.
[code]
R_leg FT measurements

![measrlegftnofilter](https://cloud.githubusercontent.com/assets/5045846/8979570/07940a14-36ab-11e5-9220-0cacef1647c1.png)

Torque tracking

![torquetrackingnofilter](https://cloud.githubusercontent.com/assets/5045

[2015-07-30 09:10] #128 closed

[2015-08-07 09:41] naveenoid opened #130 "Compliant foot planting on angled surfaces"
Issue to track the tasks needed to investigate compliant foot planting under uncertainty on surface orientation.
- [ ] Cartesian solver for the 2 legs to move from double stable phase to single foot planting (@traversaro  and naveen)
- [x] Exposing of impedance control interface (@francesco-romano )
- [ ] Setup of gazebo with the angled surface block object (naveen)
- [ ] Setup of experiment data

[2015-08-07 09:44] traversaro commented on #130
For the first bullet point, please check : https://github.com/robotology/codyco-modules/issues/107 .

[2015-08-07 09:47] traversaro commented on #107
As a final note, the cartesian solver was correctly working, but we had issue with the semantics of the `JointsOrder` parameter, that we never properly solved.

[2015-08-07 10:55] francesco-romano commented on #130
Second point has a separate issue: https://github.com/robotology-playground/yarp-wholebodyinterface/issues/41

[2015-08-07 13:03] francesco-romano commented on #130
Interaction mode implemented for a single joint in https://github.com/robotology-playground/yarp-wholebodyinterface/commit/8a24605ef3956591edba90a99687a73abeed0245

[2015-09-10 14:58] jeljaik opened #131 "[quaternionEKF] TODO List for preliminary implementation on iCub with palm skin patch"
## TODO
- [x] Get palm skin patch with gyro and acc installed on right foot and working on the purple robot. i.e. reading accessible from yarp port `/icub/right_leg/inertialMTB`.
- [x] Fix module in branch quaternionEKF/iCubImplementation to work accordingly.
  - [x] Add configuration parameter `usingSkin` to read from acc and gyro from the skin patch (Note: the acc. reading is actually coming fro

[2015-09-21 16:19] DanielePucci opened #132 "[torqueBalancing] Make external module for generating references"
For the time being, the references for desired positions for CoM and postural tasks are provided by an external module running in Simulink. This module should be ported in C++ if we do not come up with something smarter from the architecture point of view. It seems to me that the solution in Lua is slowing dying. @traversaro @francesco-romano

[2015-09-21 16:43] traversaro commented on #132
The Lua part is still a valid option (and the way to go in my opinion) for FSM handling, using rFSM as we do in the rest of complex iCub demos. The thing that I believe was an error was to put too much external logic in the lua script that handled the FSM, and that is not maintainable.

[2015-09-23 12:31] DanielePucci commented on #132
After a chat with @francesco-romano, we've decided that the simple left-and-right two-feet balancing and one-foot yoga demo may be coordinated by a simple C++ module. The idea is to write a module that streams the desired position of the CoM and the postural task references. The left-and-right two-feet balancing can be achieved by implementing a sine time-function of given amplitude and frequency.

[2015-09-23 12:47] jeljaik commented on #131
#### Remove dependencies on XSens classes and substitute with xsens yarp plugin
It was pointed out to me that I could use the *XSens plugin* in YARP when attaching a single `xsens` IMU to my laptop. It is as simple as adding to my `quaternionEKF` application the following module:

[code]
Next, you will find a port called `/externalxsens/data:o` with a similar output to that of `/inertial` when usi

[2015-09-23 14:34] jeljaik commented on #124
This should be solved with https://github.com/robotology/codyco-modules/commit/53d630a3485dc8f81fbb727704517a78507014da

[2015-09-24 13:38] jeljaik opened #133 "[wholeBodyEstimator Module] Planification"
## Brief Description

This issue's main purpose is to keep track of the design decisions and specifications for a new module, ~~so far called `wholeBodyState` (are we sure?)~~ called `wholeBodyEstimator` belonging to `codyco-modules` and that will exploit the latest improvements on the `wholeBodySensors` interface class, the `BFL` and non-local parametrizations of the orientation. Once all the mai

[2015-09-24 13:44] DanielePucci commented on #133
I remember that the name was:

[code]

[2015-09-24 13:45] jeljaik commented on #133
### (T01)
Do we all agree `wholeBodyStateEstimator` shall be the name?

[2015-09-24 13:45] DanielePucci commented on #133
Shall me make a pool?

[2015-09-24 14:28] traversaro commented on #133
I agree on `wholeBodyEstimator`

[2015-09-24 14:30] DanielePucci commented on #133
:+1:
[code]

[2015-09-30 17:48] traversaro commented on #42
I think we could try the feature described in this blog post: http://www.kitware.com/blog/home/post/939 for shared library creation on Windows as soon as CMake 3.4 is released. It could also be interesting to test it on `icub-main`. It is suboptimal with respect to actually mark exported symbols, but is similar on how things works on *nix system and I never saw anyone of being particularly concern

[2015-10-01 14:52] DanielePucci commented on #132
https://github.com/robotology/codyco-modules/commit/2b3b64fbfd48396bf358e123849749cf13baae69

[2015-10-01 14:53] #132 closed

[2015-10-10 15:17] traversaro commented on #133
I have updated the design doc with some links to existing issues that are a prerequisite to properly implement the modules.
For the URDF --> Sensors issue in iDynTree ( https://github.com/robotology/idyntree/issues/30 ) @naveenoid is the person in charge, that I guess can deliver an estimate on when the feature will be ready.
The other important task is https://github.com/robotology/yarp-wholebody

[2015-10-10 21:24] traversaro opened #134 "torqueBalancing segfaulting on `start` command if codycoCommons is compiled in Debug"
[code]

[2015-10-10 22:35] traversaro opened #135 "torqueBalancing not working on my laptop"
torqueBalancing is not able to keep the robot standing on my laptop, even with clock synchronization. On the other hand, `torqueBalancing.mdl` is working fine. It is just a local issue of my pc or torqueBalancing on Gazebo has some problems?
cc @francesco-romano @DanielePucci

[2015-10-11 06:23] francesco-romano commented on #135
It has some oscillations (not damped by the way) but it is able to stand for some time.

[2015-10-11 06:37] francesco-romano commented on #134
I think it is related to https://github.com/robotology/codyco-superbuild/issues/85

Unfortunately I cannot replicate on my laptop

[2015-10-11 07:27] DanielePucci commented on #135
I think that the problem resides in the different gains used by the `torqueBalancing.mdl` and `torqueBalancing.c++` (I know, it's a bad notation, but I liked it) when `YARP_ROBOT_NAME` is `icubGazeboSim`. As a matter of fact, the gains used by the former are:

https://github.com/robotology-playground/WBI-Toolbox-controllers/blob/master/controllers/torqueBalancing/robots/icubGazeboSim/gains.m#L19

[2015-10-11 07:56] DanielePucci commented on #106
ping

[2015-10-11 07:59] DanielePucci commented on #82
After the model for iCubGenova02 is finished, we can perform again the parameter identification, and see if this issue still arise. In the negative case, we can close it.

[2015-10-11 08:01] DanielePucci commented on #49
Can we close this issue?

[2015-10-11 08:58] #49 closed

[2015-10-11 09:02] traversaro commented on #106
What to do you mean "add an automatic calibration of WBDT before the start of the torqueBalancing" ? The only thing that we can do is to have the torqueBalancing (even if strictly speaking it would be more appropriate to have some kind of "supervisor" to do this) to call via rpc the WBDT and launch a calibration, but I don't see how you can move away from the "calibration is designed ad-hoc for th

[2015-10-11 09:09] traversaro commented on #134
Ahahaha sorry, yesterday I was wondering why I was not able to find the issue that I had just wrote! Closing that one.

[2015-10-11 09:11] traversaro commented on #134
You recompiled both codyco-modules and codyco-commons in Debug? I guess otherwise it could also depend on Eigen versions.

[2015-10-11 09:22] DanielePucci commented on #106
Yes, this is what I meant: rpc command. It could be nice to have an option in torque balancing like

[code]

or
[code]

which runs an rpc command before starting. What do you think about it? @traversaro @francesco-romano

[2015-10-11 10:17] francesco-romano commented on #134
If Xcode did what I asked it yes.
My eigen version is 3.2.6

[2015-10-11 10:18] francesco-romano commented on #106
As you know I don’t like this idea

[2015-10-11 10:47] DanielePucci commented on #106
Which idea? That of the external coordinator calibration or that of the rpc command? Assuming that you do not like the idea of the option, any alternative?

[2015-10-11 22:00] DanielePucci opened #136 "[torqueBalancing] Gain scheduling for impedances and damping"
We need to implement a gain scheduling policy for the gains associated with the torque balancing control. How shall we proceed?

[2015-10-11 22:24] iron76 commented on #136
It is quite a delicate issue since it might be eventually implemented in the firmware. Therefore, you should discuss the implementation with @randaz81.

[2015-10-12 12:27] randaz81 commented on #136
ok for implementing (basic) gain scheduling for joint level torque control at fw level (already discussed with @DanielePucci). However if this issue relates to **high-level** stuff (stiffness/damping in the cartesian space / COM control **during balancing**, as the title seems to suggest), there nothing that can be done at the moment.

[2015-10-12 12:47] DanielePucci commented on #136
Yes @randaz81, I think that @iron76 has confused the low-level gain scheduling policy (that is anyway really important) with the high-level one, which was the main subject of this issue. We may open another issue related to the low-level gain scheduling.

[2015-10-12 16:18] DanielePucci commented on #136
Since the RPC interface is already ready for gain scheduling in torqueBalancing, I close this issue. Only tests must be carried on.

[2015-10-12 16:18] #136 closed

[2015-10-13 09:06] iron76 commented on #133
Isn't this related also to the following issue? https://github.com/robotology/idyntree/issues/78. I am asking this since @DanielePucci needs this last issue to be solved (to implement the contact switching demo) and none is currently assigned to it.

[2015-10-13 09:37] jeljaik commented on #133
@traversaro while narrowing down the actual scope of this module I came to wonder whether the floating base should be an output of this module, or if some other module will exploit `wholeBodyState` to do so. You mentioned something about the `singleLeggedOdometry` class mentioned by nori (https://github.com/robotology/idyntree/issues/78)

[2015-10-13 10:50] traversaro commented on #65
Duplicate of https://github.com/robotology/codyco-modules/issues/65 .

[2015-10-13 10:50] #65 closed

[2015-10-13 10:56] traversaro commented on #133
My original idea was that all estimation algorithms could run sequentially in the `run()` of the thread of the `wholeBodyState` module (similar to what is happening now in [`wholeBodyDynamicsTree`](https://github.com/robotology/codyco-modules/blob/master/src/modules/wholeBodyDynamicsTree/src/wholeBodyDynamicsThread.cpp#L1510)).

Currently the are two ways of getting the floating base position esti

[2015-10-13 10:59] jeljaik commented on #133
Thanks @traversaro, perfectly understood. I'll try to port this to the module then.

[2015-10-13 11:00] traversaro commented on #58
To finally close this issue, I think we can simply deprecate some modules that we don't have time to maintain.

A possible preliminary list includes: `wholeBodyReach`, `locomotionControl`, `locomotionPlanner`, `wholeBodyNeckVelocity`, `wholeBodyGaze` .

cc @robotology/codyco-developers  opinions?

[2015-10-13 11:05] traversaro commented on #133
A major problem is how to pass the information "a given link is in contact" to the estimation without starting to open a specific port for each estimator, that is not a scalable approach.

My current idea is to have a generic "events:i` port in the module that reads a vector of strings that are generic "events". This list of events is then passed to each estimation module, that can then react to t

[2015-10-13 16:18] jeljaik commented on #133
@traversaro I'm trying to design the overall structure of the module using StartUML. I think it might be a good way to effectively collaborate on this matter as many components are in place. I'm sketching both a class diagram and a sequence diagram for the matter. Within tomorrow I will show you some initial draft to some extend extrapolated from `quaternionEKF`. I will attach the file to this com

[2015-10-13 16:31] traversaro commented on #133
:+1:

[2015-10-13 22:41] traversaro commented on #29
Closing. The bug have been solved a long time ago in our software, and perhaps now they are going to merge the PR upstream.

[2015-10-13 22:41] #29 closed

[2015-10-14 13:25] jeljaik commented on #131
## Notes on current status of the palm patch attached to the right foot of the purple robot

The temporary solution that has been found to be able to have a gyroscope somewhere in the foot along with an accelerometer, was to use a skin palm of the iCub and attach it on top of the F/T sensor of the right foot. The way how this works is by attaching this palm to one of the boards of the foot (There

[2015-10-14 15:53] naveenoid commented on #131
:+1:

[2015-10-15 15:46] jeljaik commented on #131
I guess the codyco-modules wiki might be appropriate.

[2015-10-15 16:30] jeljaik commented on #133
After some talks with @traversaro and @francesco-romano this will be the initial structure of the module. Any suggestion will be well received. I will put an SVG version of this module in the `doc` directory of `wholeBodyEstimator`. It is still missing a couple of things such as the details on the `wholeBodySensors`. I will update this issue as soon as a first skeleton will be pushed to `codyco-mo

[2015-10-17 11:05] traversaro commented on #1
Thanks everyone for the feedback, it has been useful.

[2015-10-17 11:05] #1 closed

[2015-10-17 11:06] traversaro commented on #8
We then never implemented a specific any ZMP-related code, but this discussion will become useful if anyone ever request such a feature, thanks everyone.

[2015-10-17 11:06] #8 closed

[2015-10-17 11:07] traversaro commented on #9
`wholeBodyDynamicsTree

[2015-10-17 11:08] #9 closed

[2015-10-17 11:19] traversaro commented on #14
Moved in https://github.com/robotology/wholebodyinterface/issues/12 .

[2015-10-17 11:19] #14 closed

[2015-10-17 11:21] traversaro commented on #58
cc @iron76 any objection to consider this `modules` as "deprecated" (this will mean there are moved somewhere else and they are not compiled by the superbuild by default)?

[2015-10-18 16:41] jeljaik commented on #133
## Notes on Task (T06) ##
1. A new class called `LeggedOdometry` inherits from class `IEstimator` to implement the (so far) three basic methods of any estimator namely: `init`, `run`, `release`.
2. (personal note) A few details on how this porting is being done in https://github.com/robotology/codyco-modules/commit/2a43a9242d7ac2b32c8985154384ecdf18da76ff#diff-e92fb94b541bf74ff3a9c1f0b5d8e06cR195

[2015-10-19 00:04] iron76 commented on #58
Yes, proceed with deprecation.

[2015-10-19 16:02] #44 closed

[2015-10-19 16:02] traversaro commented on #44
@francesco-romano do you think we need a similar check on `gazebo-yarp-plugins`?

[2015-10-20 07:04] francesco-romano commented on #44
@traversaro I don't see the point in having yarp compiled as a static library (considering also that by default it is shared).
So, if you want to add the check then ok. Otherwise I will stick with only documentation.

[2015-10-20 09:21] jeljaik opened #138 "(T06) Compare LeggedOdometry with wholeBodyDynamicsTree"
- [x] Update `joint_status`
- [ ] Pass `joint_status` to the `run()` method of `IEstimator` and update it at the thread level. (??)
- [ ] Comparisons can be done with the simulator fixing one foot and making some predefined and repeatable movement of the knee.

[2015-10-20 09:24] jeljaik opened #139 "(T07) Write Eigen implementation for MatrixWrapper."
- [x] Include Eigen implementation as done in https://github.com/tu-darmstadt-ros-pkg/hector_common/tree/master/bfl_eigen/patch/src/wrappers/matrix.
- [x] Add Quaternion_EIGEN
- [ ] Modify `cppUnit` tests to take into account the new methods.

[2015-10-20 09:26] jeljaik opened #140 "[T08] Port QuaternionEKF as the second estimator in wholeBodyEstimator."
# Requirements
- [x] The robot-specific configuration file of wholeBodyEstimator will contain groups per each estimator in the module.
- [x] How do we want to specify which estimator will be instantiated by this module? more importantly, how to handle the instantiation of multiple estimators?

[2015-10-20 09:27] jeljaik commented on #125
This was solved with the latest version of quaternionEKF in which yarpdev is used instead of the hand-made driver.

[2015-10-20 09:27] #125 closed

[2015-10-21 12:38] francesco-romano commented on #134
@traversaro  Any news on this?

[2015-10-21 13:39] traversaro commented on #134
I did not further investigated the root of this problem.

[2015-10-22 14:21] jeljaik commented on #133
@traversaro Want me to merge in `master` the current status of the module given that it's stable enough at the moment regarding `LeggedOdometry`?

[2015-10-22 14:27] traversaro commented on #133
Good idea. We have still to pay attention if we want to add the quaternionEKF stuff and thus depend on bfl, that is not integrated in the superbuild. One way to deal with it is to transform the estimators in proper yarp devices (that expose the IEstimator interface ) so that they can be loaded at runtime ...
Otherwise some #IFDEF are also ok. :D

[2015-10-22 14:32] jeljaik commented on #133
Exactly, my point was to merge at this stage after you removed the dependencies on bfl, etc. However I'm not getting quite well the problem with bfl. I believe it is integrated with codyco-superbuild. I'm not compiling BFL outside codyco-superbuild. Can you explain a bit more please?

[2015-10-22 14:45] jeljaik commented on #133
`simpleLeggedOdometry` has been officially moved from `wholeBodyDynamicsTree` to the `idyntree-estimation` library and implemented in the new module `wholeBodyEstimator` as of 879152bf5fdb64e9c41e337b754e1b3b0842c270

[2015-10-23 11:24] traversaro opened #141 "wholeBodyDynamicsTree always use the `l_foot` as the world frame in iCubGui"
See the use of `left_foot_link_idyntree_id` variable in https://github.com/robotology/codyco-modules/blob/master/src/modules/wholeBodyDynamicsTree/src/wholeBodyDynamicsThread.cpp#L1293 .

@hu-yue I cannot work on this until Sunday, but it should be quite easy to fix adding an option to wholeBodyDynamicsTree, so feel free to try to solve it if you want.

[2015-10-23 13:58] jeljaik commented on #139
Documentation about writing tests with cppUnit can be found [here](http://cppunit.sourceforge.net/doc/1.8.0/cppunit_cookbook.html#cppunit_cookbook). In particular, BFL tests have been written using `TestFactoryRegistry`.

[2015-10-23 15:48] jeljaik commented on #139
First task done in 65321b866d4cde7f1adf4e38dc99bd5c8902d3e1

[2015-10-26 10:29] jeljaik opened #142 "[T09] Doxygen documentation."
- [ ] Enable Doxygen documentation for `orocosBFLBerdy`
- [ ] Write documentation for `QuaternionWrapper`

[2015-10-26 10:33] jeljaik opened #143 "[T06] Move simpleLeggedOdometry from wholeBodyDynamicsTree into iDynTree"
Move [`simpleLeggedOdometry`](https://github.com/robotology/codyco-modules/blob/master/src/modules/wholeBodyDynamicsTree/src/simpleLeggedOdometry.cpp) from `wholeBodyDynamicsTree` into a `iDynTree`. **Reference**: https://github.com/robotology/idyntree/issues/78
- [x] Add new class to `/iDynTree/estimation`.
- [x] Different from how it's done for [`/iDynTree/high-level`](https://github.com/robotol

[2015-10-26 10:36] jeljaik opened #144 "[T10] Use the `DynamicsComputations` class."
I'll need some assistance here @traversaro, Although this is future work, it would be cool if you first do `LeggedOdometry` with these new classes before we change `quaternionEKF` or any new estimator.

[2015-10-26 10:37] jeljaik opened #145 "[T01] Decide on a name for the module."
First off ... what name do we actually wanna give to this module? `wholeBodyState` sounds more like a class belonging to `wholeBodyInterface`. Here I propose a couple:
- [ ] `wholeBodyState`
- [ ] `wholeBodyStateEstimator`
- [ ] `wholeBodyStateModule`
- [x] `wholeBodyEstimator`

[2015-10-26 10:39] jeljaik opened #146 "[T02] wholeBodySensors interface should be configured to read the sensors from URDF"
The wholeBodySensors interface should be configured to read the sensors present in the URDF file. Once we have a working URDF --> iDynTree::SensorsList parser, this boils down to iterate on elements of the iDynTree::SensorsList and add their names on wbi::idLists that are then used to configure the wholeBodySensors . The work to do here is relative to the iDynTree and yarpWholeBodyInterface librar

[2015-10-26 10:41] jeljaik opened #147 "[T03] Raw data acquired through the wholeBodySensors should be used to populate iDynTree::SensorsMeasurements"
This is a tentative ordered list of tasks. Nevermind detailed explanations on each..once done, yarpWholeBodySensors will be able to parse the MTB sensors. NOTE : In this version, only MTB Accelerometer and Gyroscopes readings will be used within SensorsMeasurements. Existing sensors data (except accelerometers) will be acquired in their current Vector versions to retain initial backward compatibil

[2015-10-26 10:43] jeljaik opened #148 "[T04] Define an interface for the estimator classes."
Both for getting model/sensors information and for giving in output the estimate results.

[2015-10-26 10:45] jeljaik opened #149 "[T05] Define a publishing interface."
An interface for the classes that take the estimate results and publish it for other modules.

[2015-10-26 10:49] #145 closed

[2015-10-26 10:49] #143 closed

[2015-10-26 10:50] #148 closed

[2015-10-26 10:50] #139 closed

[2015-10-26 10:55] jeljaik commented on #139
Added in https://github.com/jeljaik/orocos-bfl-berdy/commit/cce1e4362ff5cd93e8ea32e97005bdf228e3a881

[2015-10-26 11:46] #138 closed

[2015-10-26 13:01] hu-yue commented on #141
@traversaro Ok, I've looked into the code, but I'm not 100% sure that I'm getting the point.

This ```if``` https://github.com/robotology/codyco-modules/blob/master/src/modules/wholeBodyDynamicsTree/src/wholeBodyDynamicsThread.cpp#L1312 here is the one that causes the iCubGui to visualize everything wrt the left foot as I've understood, since by changing it to right_foot now everything is wrt righ

[2015-10-26 13:06] hu-yue commented on #141
@traversaro from the code I see that in the code you use ```r_foot``` and ```l_foot```, while in my configuration files I've always used ```l_sole``` or ```r_sole```, so should they be ```_foot```??

[2015-10-26 23:11] traversaro commented on #141
@hu-yue apparently the use of `l_foot` was a leftover from the past... in practice it is equivalent to use `r_foot` or one of its rigidly connected frames (`r_sole`,`r_foot_dh_frame`).

Can you try the fix in https://github.com/robotology/codyco-modules/tree/fix/issue141 ? Thanks.

[2015-10-27 12:50] hu-yue commented on #141
@traversaro just tried it, it switches the reference frame when using ```--assume_fixed```
So as far as I've understood the workaround now is that it takes the frame in ```--assume_fixed``` as reference and if it is not specified it used the ```l_foot```, right?

[2015-10-27 13:07] traversaro commented on #141
Yes. Basically it is not really relevant if it uses `l_foot` or `l_sole` because the transformation sent to the `iCubGui` is just `rootLinkAsStartup_H_rootLink` , and the fixed link is just used because it assumed to be in a constant position.

[2015-10-27 13:08] traversaro commented on #141
Merging if it is working.

[2015-10-27 13:19] hu-yue commented on #141
Yes it is working thanks for the fix!

[2015-10-28 10:49] traversaro opened #152 "Directory/File names with a `:` are not valid paths in Windows"
See https://ci.appveyor.com/project/traversaro/codyco-superbuild/build/1.0.239 and https://github.com/robotology/codyco-modules/tree/master/src/modules/quaternionEKF/data/dumper01/icub/right_leg/state:o .

cc @jeljaik

[2015-10-29 11:46] jeljaik opened #153 "[T11] Pass fundamental CPPUnit tests for Matrix Wrapper"
- [x] `test_matrixwrapper`
- [x] `test_ekf`

[2015-10-29 11:51] jeljaik commented on #153
Done in https://github.com/jeljaik/orocos-bfl-berdy/commit/b652375b5b631ae21af7a2d82a794ec6a13aa11e
Most updated: https://github.com/jeljaik/orocos-bfl-berdy/commit/1a71ee376dc1e93ba06e2b0b89d7edddb308c9d2

[2015-10-29 11:51] #153 closed

[2015-11-02 16:01] DanielePucci opened #154 "[torqueBalancing] Crash with synchronization"
[code]

[2015-11-02 16:14] francesco-romano commented on #154
Yarp is compiled with C++11

[2015-11-02 16:16] DanielePucci commented on #154
yes

[2015-11-02 18:35] jeljaik opened #155 "[T12] Make quaternionEKF work with Eigen before adding it to wholeBodyEstimator"
- [x] `quaternionEKF` compiles with Eigen implementation of MatrixWrapper.
- [x] `quaternionEKF` works as with Boost.

[2015-11-02 18:35] jeljaik commented on #155
Compilation successful after https://github.com/jeljaik/orocos-bfl-berdy/commit/22ed9299ac9355045ae853a0286a78910d130391

[2015-11-03 09:42] francesco-romano commented on #154
![screen shot 2015-11-03 at 10 41 41](https://cloud.githubusercontent.com/assets/2189180/10904992/84d5403a-8217-11e5-8cea-bb0618df5556.png)

cc @drdanz

[2015-11-03 09:50] francesco-romano commented on #154
This is the code that asserts
[code]

[2015-11-03 11:17] francesco-romano commented on #154
@DanielePucci can you try after https://github.com/robotology/yarp/commit/291c8fa2a13948b493b8ce75e462dbd77c108ba6 ?

[2015-11-03 13:15] traversaro commented on #152
cc @jeljaik

[2015-11-04 10:01] jeljaik commented on #152
But these are automatically generated by datadumper :/

[2015-11-04 10:23] jeljaik commented on #152
Fixed in: https://github.com/robotology/codyco-modules/commit/50926a0ab8a64273b40a785d05cea71dae292f3e

[2015-11-04 10:23] #152 closed

[2015-11-08 16:44] traversaro commented on #39
Preliminary support for this added in iDynTree in https://github.com/robotology/idyntree/commit/b6cbe7deac85b5ef26c3fdf96d5ee569f3e4539d .

[2015-11-09 11:11] #155 closed

[2015-11-13 14:47] hu-yue opened #156 "[torqueBalancing] load PID gains from config - howto"
Hi,
I wanted to try to load the gains from the config file as per #150 , however I understood from this sentence in the readme:
[code]
that in the config file where I store the PID gains I can store only those that I actually want to change instead of all the joints, e.g. a file ```newGains.ini``` that looks like:
[code]
But what happened is that these were the only joints with torque PIDs set, wh

[2015-11-13 15:32] francesco-romano commented on #156
Hi @hu-yue.
You are perfectly right in your interpretation.
So probably there is a bug somewhere.

Just a question, before proceeding with further investigation, you are using the real robot, aren't you?
Gazebo does not support torque PIDs.

[2015-11-13 16:07] hu-yue commented on #156
@francesco-romano yes with the real robot.
I launched the torqueBalancing module and then the robot fell and the controller stopped due to joint limits, then I checked the gains and saw that they were as described before. Then I stopped the controller with "stop" in the rpc and the original gains were restored.

[2015-11-13 16:07] hu-yue commented on #156
Stopped in the sense that it went back to position control mode.

[2015-11-13 16:18] francesco-romano commented on #156
@hu-yue can you try now?
If this does not work, please reopen the issue :smile:

[2015-11-13 16:44] hu-yue commented on #156
Actually now they are not set to ```0``` but it seems that it's just not taking the gains at all, since they did not change from the default values.
I don't have the rights to reopen the issue.

[2015-11-13 16:46] hu-yue commented on #156
Also, a question, when are the new gains loaded? When I I start the ```torqueBalancing``` or when I do ```start``` from rpc? I checked the gains from the ```yarpmotorgui```

[2015-11-13 17:46] francesco-romano commented on #156
At module startup

[2015-11-13 18:33] jeljaik opened #157 "[T13] Decide on a design pattern for better scalability"
As it has been discussed, there is a basic interface for all the estimators instantiated by this module, however more than one estimator needs to be instantiated at a particular time. In addition to this, we want to specify the desired estimators through configuration file and have the flexibility to add more derived classes from `IEstimator` without impacting the source code. After a bit of resea

[2015-11-13 18:55] francesco-romano commented on #156
Ok.. I tried them on gazebo and they work.

The issue (I think) is that you are passing the gains as "integer". Unfortunately the yarp `Value` class thinks that an integer value is not a double.
Now, I can "complicate" a bit the code to handle also this case, but I think a better solution is to correct the behaviour directly in yarp ( @lornat75  what do you think? )

@hu-yue  if adding `.0` to all

[2015-11-13 20:05] traversaro commented on #157
:+1: That is exactly. the idea that i had in mind on the long period. I was actually imaging to use the yarp devices machinery to get automatically the support for estimators loadable at runtime, but also this approach is ok for me.

[2015-11-13 20:30] jeljaik commented on #157
Awesome! I spent all day figuring it out lol. I'll port it to the real classes and push the changes :)

[2015-11-14 08:35] francesco-romano commented on #154
Lot of stuff changed in the meanwhile.
Closing

[2015-11-14 08:35] #154 closed

[2015-11-14 08:37] francesco-romano commented on #135
I noticed yesterday that the kd gains for the gazebo models were zero. I updated the gains.
Can you try again @traversaro ?

[2015-11-14 08:37] francesco-romano commented on #119
Implemented in https://github.com/robotology/codyco-modules/pull/150

[2015-11-14 08:37] #119 closed

[2015-11-14 08:39] francesco-romano commented on #112
OpenBLAS has been removed on the black setup.
I think we can close this issue.

[2015-11-14 08:39] #112 closed

[2015-11-14 08:41] francesco-romano opened #158 "Move wholebodydynamics YARP device to separate repository"
And integrate them in the superbuild.

Given their always-increasing use on the robot for demos and as a basic for experiments I think these two modules deserve to live in a separate repository (so that they can be installed without all the other codyco-modules stuff).

What do you think? @traversaro @DanielePucci @iron76

[2015-11-14 08:43] francesco-romano commented on #114
All the tasks have been completed, or they are no longer needed.
Closing this issue.

[2015-11-14 08:43] #114 closed

[2015-11-14 08:45] #102 closed

[2015-11-14 09:47] DanielePucci commented on #158
:+1:

[2015-11-14 09:49] DanielePucci commented on #112
True. On the other hand, it still happens that sometimes you go there and OpenBlas has been installed, causing an increase of the CPU use, e.g. IROS 2015. We should put here the proceed to uninstall it.

[2015-11-16 10:08] hu-yue commented on #156
It works adding .0 after the number, for us it's ok to keep it as it is for now.

[2015-11-16 13:37] jeljaik commented on #157
First implementation done in: 248d98eed63e5a360a3037d38775d184410a783c

[2015-11-16 13:37] #157 closed

[2015-11-16 13:40] jeljaik commented on #146
@naveenoid Can you please update this issue? You told me verbally about the commits but since we're accurately keeping track of this module through a milestone, I'd love to have everything referenced and checked here please :) Also, if you can provide us with a detailed explanation on how things work now, what's left and so on, I would be grateful. If you consider there are big issues pending, ple

[2015-11-16 16:11] naveenoid commented on #146
The sequence of commits are towards this PR : https://github.com/robotology/idyntree/pull/89

In this PR I address URDF reading of accelerometers and gyroscopes. I then build and integrate the URDF parsed sensors into a sensorList class. I will be writing some note shortly but basically new sensors are included in this form  (for eg.) :

    <sensor name="dummy_accl" type="accelerometer">

[2015-11-16 16:12] jeljaik commented on #146
:heart_eyes_cat:  Bravo!

[2015-11-17 11:26] naveenoid commented on #146
UnitTestURDFGenericSensorImport presents first working tests. Checkout sample URDF in https://github.com/robotology/idyntree/blob/feature/sensor_expansion/tests/data/twoLinksFixed.urdf and https://github.com/robotology/idyntree/blob/feature/sensor_expansion/tests/data/oneLink.urdf

[2015-11-17 12:48] traversaro commented on #158
I actually think that we should cleanup this repo, and probably all will remain will be just `torqueBalancing`, `wholeBodyDynamicsTree` and few other modules, that there will be no need to separate further. Perhaps anyway it would make sense to reset this repository to get rid of all the history in the repo, that given that this was the original `codyco` repository is quite huge.

[2015-11-20 14:11] francesco-romano opened #159 "WBDTree Segfault on exit"
[code]

[2015-11-23 11:40] francesco-romano commented on #159
This does not happen on `iCubGenova02`

[2015-11-23 13:00] #124 closed

[2015-11-23 16:11] hu-yue commented on #159
It happend for iCubHeidelberg01 today.
I think before I did not notice it because I used to launch it from the manager, today I launched it from terminal and on exit it gave Segmentation fault.

[2015-11-23 16:14] hu-yue commented on #156
Btw @francesco-romano, do you have plans on loading also the other parameters from configuration files? (e.g. ```kbemf ```)

[2015-11-23 16:39] francesco-romano commented on #159
Does it happen every time?

[2015-11-23 16:40] francesco-romano commented on #156
I'll be very happy to do that.
Unfortunately it seems the `Pid` class does not have this parameter.
@randaz81  can we add it?

[2015-11-23 16:41] hu-yue commented on #159
I'm not sure, I have to check. I launched WBD3 only once from the terminal today. Can try that again.

[2015-11-23 16:41] #156 closed

[2015-11-23 16:49] francesco-romano commented on #159
:+1:

[2015-11-23 17:40] hu-yue commented on #159
Yes it happens everytime, just tried a couple of runs and it always exits with Segfault.

[2015-11-23 18:26] hu-yue commented on #159
[code]

[2015-11-25 10:41] DanielePucci opened #160 "Bad estimation of external wrenches: are the measurements from FT reliable?"
When performing the yoga demo on the left foot starting from a two-feet standing position, the algorithms in charge of estimating the external wrenches sense external forces even if there is no external perturbation exerted on the robot:

![out2](https://cloud.githubusercontent.com/assets/5045846/11394916/47b9f22e-9368-11e5-9d98-1f0612f06485.gif)

The algorithms estimating the external wrenches ba

[2015-11-25 14:21] jeljaik commented on #146
Navee, [this](https://github.com/robotology/codyco-modules/blob/newModule/wholeBodyEstimator/src/modules/wholeBodyEstimator/src/QuaternionEKF.cpp#L284-L335) is the piece of code I would like to avoid through `yarpWholeBodySensors`. Let me know if it's unclear.

[2015-11-25 15:19] traversaro commented on #146
@jeljaik @naveenoid My two cents on how that code should be implemented in the `yarpWholeBodySensors` : https://github.com/robotology/yarp-wholebodyinterface/issues/42#issuecomment-159638184 .

[2015-11-28 17:07] naveenoid commented on #123
closing this for now..will reopen once wholeBodyEstimator requires something like this.

[2015-11-28 17:07] #123 closed

[2015-11-28 18:16] traversaro commented on #82
@DanielePucci you had this problems with the new model?

[2015-11-28 18:20] traversaro commented on #83
We will track the general problem of "phantom" external forces in https://github.com/robotology/codyco-modules/issues/160 .

[2015-11-28 18:20] #83 closed

[2015-11-28 18:24] traversaro commented on #42
I tested the new CMake option for `icub-main` libraries in https://github.com/robotology/icub-main/pull/243 .
It seems to be working fine, so I think we can stick to it instead of manually defining symbol visibility. I will add this option to iDynTree and then we can add it to whatever library we like.

[2015-11-28 18:24] #42 closed

[2015-11-28 18:28] traversaro commented on #28
Done in iDynTree in https://github.com/robotology/idyntree/commit/1c489bea345532daeaaeab25537dc19a46d59c61 . While CTest/Dart provides a `CTEST_MEMORYCHECK_COMMAND` to run a specific `**MemCheck` CTest target, I think that this configuration is more developer friendly, because you can run Valgrind test with just a `make test` (or similar targets for IDEs).

[2015-11-28 18:28] #28 closed

[2015-11-28 18:31] traversaro commented on #141
Still a lot of work to do to cleanup the wholeBodyDynamicsTree and what it publishes to the iCubGui, but the specific bug is fixed, so we can close the issue.

[2015-11-28 18:31] #141 closed

[2015-11-28 18:51] traversaro commented on #39
Full support also in the URDF parsing added as part of https://github.com/robotology/idyntree/pull/103 .
While it is necessary to solve https://github.com/robotology/idyntree/issues/93 before this is actually used in the `yarp-wholeBodyInterface`, I thinks that once that PR is merged in iDynTree master we can consider this issue as closed.

[2015-11-28 22:42] DanielePucci commented on #82
We haven't re-estimated the motor and friction parameters using the new model. Let's put this task on the to-do list.

[2015-12-03 12:18] jeljaik opened #161 "[wholeBodyDynamicsTree] No warning or acknowledge message is provided when network delays are detected."
As you know may know, we have been experiencing issues with iCubGenova01 where network delays are present rather randomly. Together with @randaz we proceeded to unplug the PC104 ethernet cable to see if this brute force event was somehow detected by WBDT but it wasn't. Given what's happening lately with Blackie, this might be quite useful and would allow torqueBalancing to put the robot in a safer

[2015-12-03 12:31] traversaro commented on #161
Definitely.

A bit of detail: wholeBodyDynamicsTree uses exclusively the `yarpWholeBodySensors` interface to access sensor measurement, so the network delay check should be implemented there.

A good solution would be to implement a method that returns to the time since the latest measurement for each sensor, and also a method to get the oldest measurement in general. The module can then check thi

[2015-12-03 12:34] traversaro commented on #117
Duplicate of https://github.com/robotology/codyco-modules/issues/161 , closing.

[2015-12-03 12:34] #117 closed

[2015-12-03 12:35] traversaro commented on #89
* [ ] test behaviour after sensor timeout ( https://github.com/robotology/codyco-modules/issues/161 )

[2015-12-03 17:48] traversaro commented on #161
Fortunately it is much easier.. the timeout check is already included in the `RemoteControlBoard` implementation, so we just need to propagate the errors. Working on it right now.

If a timeout (actually, if any kind of "sensor error" is detected) the behavior is the following:
 * print an error
 * stop publishing estimates until the sensor reports error. This should cause the firmware to switch t

[2015-12-03 18:10] jeljaik commented on #161
Exactly, in fact, when launching the red ball demo, for example, this is one of the consequences of a network delay, shoulders going into `HARDWARE_FAULT` mode. But certain modules, in particular, `wholeBodyDynamics` do a check on network delays, but in a way that has changed in time, and is no longer reliable (talk to randaz for more insight on this). Therefore, in the red ball demo while the arm

[2015-12-03 18:13] jeljaik commented on #161
Moreover, luckily for us, while this may happen with the `redBallDemo` it does not happen  frequently with just `torqueBalancing` (not that it couldn't). I guess if we launch in parallel more stuff, such as skin, or red ball demo along with it, a network delay is a possible scenario.

[2015-12-03 18:29] traversaro commented on #161
Actually I was going to do rely on the fact that the `RemoteControlBoard` `getEncoders` method returns false if no message is received in the last `0.5` seconds (see https://github.com/robotology/yarp/blob/83466b733d89d2f3687542b047bcd5185d3f9299/src/libYARP_dev/src/modules/RemoteControlBoard/RemoteControlBoard.cpp#L74), that is exactly the method used by `wholeBodyDynamics`. Perhaps the timeout o

[2015-12-03 22:31] traversaro commented on #161
Fix provided in https://github.com/robotology/codyco-modules/issues/162 .

For consistency I implemented the behavior of the old wholeBodyDynamicsTree : if sensor reading fails for 10 consecutive periods, the module is automatically closed.

[2015-12-03 22:40] traversaro commented on #161
The fix provided relies on the same checks that wholeBodyDynamics uses. I think that if we want those check to be better we should improve the yarp client devices instead of implementing high-level workarounds.

[2015-12-03 22:51] traversaro commented on #159
I am unable to reproduce this issue.. : [
The configuration files for `yarpWholeBodyInterface` and `wholeBodyDynamicsTree` are the one in the repositories?

[2015-12-03 23:23] traversaro commented on #159
This https://github.com/robotology/codyco-modules/issues/159 should fix it.

[2015-12-04 08:02] francesco-romano commented on #159
@hu-yue can you test this?

@traversaro maybe you wanted to write "This https://github.com/robotology/codyco-modules/pull/163 should fix it" ?

[2015-12-04 08:49] traversaro commented on #159
Yes!

[2015-12-04 10:14] hu-yue commented on #159
@francesco-romano @traversaro the fix does fix the segfault issue, however, I had problems with ```torqueBalancing``` on right leg. The left leg fell despite all the parameters are correctly set. In fact, going back to the master branch of ```codyco-modules``` the leg did not fall.

[2015-12-04 10:21] francesco-romano commented on #159
So probably this is an issue with the base.
Can you paste here the configuration of the balancing and of the yarpWhole etc .ini file? (of this second file, you can avoid pasting the joint list.. I'm curious about the configuration of the base

[2015-12-04 10:29] hu-yue commented on #159
balancing

[code]
yarpWholeBodyInterface first rows
[code]

Don't know if needed, wholeBodyDynamicsTree first rows
[code]

Btw, these are local files, they are not the same as in the repository ever since we changed the torqueBalancing on single leg from left to right leg.

[2015-12-04 10:31] francesco-romano commented on #159
Thanks @hu-yue
Let's wait for @traversaro thoughts.
If needed we can also Skype/Hangouts

[2015-12-04 11:19] traversaro commented on #159
There is too much cruft that accumulated related to `base link`/calibration stuff.
Doing a bit of open loop cleaning is probably the most efficient way of understanding what is going on, I will come back to you to test again after a first round of cleaning.

[2015-12-04 11:43] traversaro commented on #159
In the day I am busy with TU/e related tasks, and this weekend I can't work on it.
Any fix is delayed until one of the next week evenings.

@hu-yue are you ok to switch to master and keep the old behavior for the moment ?

[2015-12-04 11:57] hu-yue commented on #159
@traversaro totally fine, it's not urgent for us

[2015-12-04 12:03] traversaro opened #164 "Use nicer looking names for wholeBodyEstimator groups"
Currenty, if you need to set a configuration parameter from the command for a specific estimator, you can do it through the command line with:
[code]
The choice of capital words separated by an underscore make this command rather unreadable . Perhaps
we should switch to lower case names for the groups?

cc @jeljaik

[2015-12-18 11:06] nunoguedelha opened #165 "torqueBalancingReferenceGenerator fails to init if torqueBalancing module is running"
Scenario: we follow the usual procedure for running the `torqueBalancing` module on the purple iCub (run startup, run motorgui, run and connect `wholeBodyDynamicsTree`, calibrate, run `torqueBalancing` with default parameters). We then run the `torqueBalancingReferenceGenerator` module for generating the oscillating positions of the `com`.
The module was run from terminal on Purple iCub. We get th

[2015-12-18 11:08] nunoguedelha commented on #165
FYI @naveenoid @francesco-romano

[2015-12-18 12:46] traversaro commented on #165
If the `torqueBalancing` is not running instead `torqueBalancingReferenceGenerator` is working fine?

[2015-12-18 12:47] jeljaik commented on #165
Yes

[2015-12-18 12:48] traversaro commented on #165
I think it is related to https://github.com/robotology-playground/WBI-Toolbox-controllers/issues/10 .

[2015-12-21 11:11] naveenoid commented on #165
From my understanding of yarpWholeBodySensors, it seems to be triggered around this line :
https://github.com/robotology/yarp-wholebodyinterface/blob/master/src/yarpWholeBodySensors.cpp#L720

This implies its an issue with the IOpenLoopControl interface (i.e. the getOutputs method)

[2015-12-21 11:11] DanielePucci commented on #165
Update: I get this error when doing a simple getEstimate of joint position

[2015-12-21 11:15] DanielePucci commented on #165
@francesco-romano

[2015-12-21 11:25] DanielePucci commented on #165
Update: it does not happen on the CAN robot `iCubGenova03`

[2016-01-05 18:58] rlober opened #166 "CTRL_RAD2DEG and CTRL_DEG2RAD scope"
So I just did a fresh install of superbuild and got a scope error related to these two constants. I did a massive find replace
[code]
throughout superbuild (most of the offenders are in `codyco-modules`) and it compiled fine. Haven't run anything yet to check for bugs but I was hoping you guys could come up with a simpler fix. If not I can submit a pull request for the changes.

[2016-01-05 20:36] traversaro commented on #166
I think most of them should have been fixed in https://github.com/robotology/codyco-modules/commit/60a2ef2da194370219682114df4b70b9d6a9201d .. perhaps you had an outdated checkout of the repo for some reason?

[2016-01-06 08:29] rlober commented on #166
You know what, you are probably right. I thought the machine I was on had a totally fresh clone of superbuild but I guess not. Sorry about this!

[2016-01-06 08:29] #166 closed

[2016-01-11 13:15] #140 closed

[2016-01-11 13:17] jeljaik commented on #140
This task was bigger than expected, for this reason additional tasks were listed:
https://github.com/robotology/codyco-modules/issues/153
https://github.com/robotology/codyco-modules/issues/155
https://github.com/robotology/codyco-modules/issues/157

[2016-01-11 18:51] jeljaik commented on #164
Since the decision of using the factory pattern design for this module, the group names in `wholeBodyEstimator.ini` are actually the names of the corresponding classes, i.e. the command line you previously mentioned turns into:
`wholeBodyEstimator --LeggedOdometry::initial_world_Frame`

[2016-01-11 18:52] jeljaik commented on #164
See for instance the [configuration file](https://github.com/robotology/codyco-modules/blob/newModule/wholeBodyEstimator/src/modules/wholeBodyEstimator/app/robots/iCubGenova02/wholeBodyEstimator.ini) for iCubGenova01

[2016-01-11 18:52] #164 closed

[2016-01-11 23:24] jeljaik commented on #164
Also changed existing lower-case variables [here](https://github.com/robotology/codyco-modules/commit/9407a2913f1771bd07ba8b97b9c73f7f858d95fb)

[2016-01-29 15:09] francesco-romano commented on #109
too old.
Closing

[2016-01-29 15:09] #109 closed

[2016-01-29 15:11] francesco-romano commented on #57
Let's close this for now.
The issue unfortunately is still present and depends on how yarp vectors read from a port

[2016-01-29 15:11] #57 closed

[2016-01-29 15:13] francesco-romano commented on #23
Let's ping again.
There are 17 branches right now.

@traversaro

[2016-02-01 14:11] ahoarau commented on #166
Having the same issue here :(

[2016-02-01 14:40] ahoarau commented on #166
But fixed using ```make update-all``` !

[2016-02-01 15:13] traversaro commented on #166
:+1:

[2016-02-04 21:53] jeljaik commented on #147
@naveenoid I'm positive many of these tasks have already been done, am I right? :) If so, can you please update?

[2016-02-04 21:54] jeljaik commented on #146
@naveenoid news?

[2016-02-04 22:55] naveenoid commented on #147
Ongoing..I am hoping to have it complete soon (4-5 days max). Next commits in my branch will update the existing structure.

[2016-02-05 11:57] traversaro opened #167 "wholeBodyDynamicsTree segfaulting on iCubGenova02"

[2016-02-05 15:04] rlober opened #168 "[jointTorqueControl] get/set coulombVelThresh & frictionCompensation"
Is there a way to set the variables [`coulombVelThr`](https://github.com/robotology/codyco-modules/blob/master/src/modules/jointTorqueControl/include/jointTorqueControl/jointTorqueControlThread.h#L93) and [`frictionCompensationFactor`](https://github.com/robotology/codyco-modules/blob/master/src/modules/jointTorqueControl/include/jointTorqueControl/jointTorqueControlThread.h#L120). From the torque

[2016-02-05 15:53] iron76 commented on #168
@randaz81 should know the details. I remember him playing with similar parameter from the robotMotorGui.

[2016-02-06 10:45] naveenoid commented on #146
Current status  being updated https://github.com/robotology/codyco-modules/issues/147#issuecomment-180067857

I will keep refining list as components get defined and finished.

[2016-02-07 10:11] naveenoid commented on #147
sensor tester module : https://github.com/robotology/codyco-modules/pull/169

[2016-02-08 10:27] rlober commented on #168
Thank @iron76

[2016-02-08 10:31] rlober opened #170 "[jointTorqueControl] launch with Gazebo"
How do I launch JTC with Gazebo?

[2016-02-08 10:39] francesco-romano commented on #170
Do you need it?
Gazebo already implements to torque control

[2016-02-08 11:53] rlober commented on #170
Hey @francesco-romano

I want to test JTC specific PID param setting/getting. #168

Just for testing, not for actual control.

[2016-02-08 12:51] randaz81 commented on #168
Hi @rlober, no there is not.
The variables you are mentioning (whose meaning is obscure to me) are specific to the JointTorqueControl module and not to the ITorqueControl yarp interface. What you can do is edit the module to set these parameters interactively through an rpc port. I'd not go for extending the ITorqueControl interface with unnecessary methods...

[2016-02-08 12:52] francesco-romano commented on #170
Ok. That was the second option :smiley:

Have you tried something?
Like copying and pasting the configuration on the yarpmanager for the robot?
There already exist the configuration files for gazebo (even if I think the coupling should be removed).

[2016-02-08 13:12] iron76 commented on #168
I guess these parameters map one to one with similar parameters in the `ITorqueControl` interface. @DanielePucci @traversaro and @randaz81 might help @rlober in finding the correct mapping if such on-to-one or almost-one-to-one mapping exists.

[2016-02-08 13:24] rlober commented on #168
@randaz81

Admittedly I am not sure what `coulombVelThresh` does but `frictionCompensation` basically regulates how much the modeled friction is incorporated into the PID output. http://wiki.icub.org/codyco/dox/html/group__codyco__jointTorqueControl.html

Do you have any documentation on the PID computations for the `ITorqueControl` I would like to see how the various parameters are implemented.

[2016-02-08 13:29] rlober commented on #170
As of now, I haven't tried anything yet. I actually am not sure how the Gazebo plugins load `.ini` files - if at all?

[2016-02-08 13:31] traversaro commented on #168
The *coulomb velocity threshold* is meant to be exposed in the `embObjMotionControl` using the `IRemoteVariables` interface (even it is not implemented at the moment):
 https://github.com/robotology/icub-main/blob/d1936c07ca0b8299288ebde60941c5e8d63e4e79/src/libraries/icubmod/embObjMotionControl/embObjMotionControl.cpp#L4205

The `IRemoveVariables` interface (as introduced in https://github.com/ro

[2016-02-08 13:35] francesco-romano commented on #170
You can launch it as a module. Take a look on how it is launched on the real robot.

[2016-02-08 13:36] rlober commented on #170
Thanks fra I will give it a shot and let you know

[2016-02-08 14:13] rlober commented on #168
@traversaro Thanks for the info. Although I still am unclear as to how I can modify these parameters even with the `IRemoveVariables` interface?

When I run JTC for the left arm for instance the following ports:
[code]

Also it looks like the `PARAM_ID_FRICTION_COMPENSATION` and `PARAM_ID_COULOMB_VEL_THR` have been linked to pointers to the vectors containing these variables: [L59](https://github.

[2016-02-08 14:16] rlober commented on #170
Hey man. Looks like I just had to launch the module as you said there are even `.ini` files already made for `icubGazeboSim`.

For future reference.
[code]

thanks @francesco-romano

[2016-02-08 14:16] #170 closed

[2016-02-08 14:44] francesco-romano commented on #170
Great!
One thing I noticed is that there are coupling matrices in the .ini file.
To test set/get they are not an issue, but otherwise they should be removed I think

[2016-02-08 15:08] traversaro commented on #168
Currently `jointTorqueControl` does not implemented the `IRemoteVariables` interface, but you can implement it and then use the `yarpmotorgui` to set the Remote Variables for the jtc device.

The `PARAM_ID_FRICTION_COMPENSATION` and `PARAM_ID_COULOMB_VEL_THR` are parameters of the old joint torque control module (as opposed to the jtc device). It should be removed from the repo ( https://github.co

[2016-02-08 15:09] traversaro commented on #58
The leftover of this issue are an endless sources of pain. Marking it for the next IFI day.

[2016-02-08 16:57] rlober commented on #168
I see that I was looking at the wrong code... Anayways looking at `jointTorqueControl.cpp` it looks like the `ITorqueControl` functions are wrapped by JTC? Also I didn't see a wrapper for `set/getMotorTorqueParameters`[here](https://github.com/robotology/yarp/blob/d371c2a4e2ae32f7da74803e9ad033da0c4558b3/src/libYARP_dev/include/yarp/dev/ITorqueControl.h#L124) and [here](https://github.com/robotolo

[2016-02-08 17:21] traversaro commented on #168
Yes, it would make sense to implement both `set/getMotorTorqueParameters` in JTC, but without modifications to the `yarp::dev::MotorTorqueParameters` class in yarp you can't use that interface to set some other parameters.

[2016-02-09 15:44] traversaro opened #172 "torqueBalancingReferencesGenerator cleanup"
frequencyInHerz --> frequencyInHertz

[2016-02-19 09:19] DanielePucci opened #173 "Weird warnings"

[2016-02-19 09:19] DanielePucci commented on #173
[code]

[2016-02-19 09:23] francesco-romano commented on #173
Well..
The first one is not weird.
It is the second one that is always present.

[2016-03-19 13:30] traversaro opened #175 "[torqueBalancing] Update configuration file for single foot balancing on iCubGenova02"
The one in the repo still searches for JTC .

[2016-03-19 13:55] traversaro opened #176 "[wholeBodyDynamicsTree] Skin contacts are not correctly visualized on iCubGenova02"
This is due to the fact that the new URDF model obtained from CAD is used, for which no skin frames are available.

[2016-03-19 13:59] traversaro commented on #176
Related error:
[code]

[2016-03-19 14:35] traversaro commented on #176
Easy workaround for the time being: launch `wholeBodyDynamicsTree` using iCubGenova01 configuration files (the model are quite similar, so there should not be a big difference in using that one, at least for double feet balancing).
[code]

[2016-03-19 15:58] traversaro opened #177 "[torqueBalancing] Find a good position for the icub attached to the mechanical crane"
The position should be such that lowering the crane the iCub should be able to be on two feet without any human assistance.

Technically speaking, such a property can be stated geometrically in the following way. Let's define the "sole plane" as the shared plane of the two soles, and the
"vertical plane" as the plane defined by there points: the robot COM, and the two points in the shoulder at whi

[2016-05-02 08:22] traversaro opened #181 "[wholeBodyDynamicsTree] with a low probability forces can disappear"
skinDynLib identifies contacts with a unique ID, assigned based on a static attribute, that is however not shared among the two entities creating contacts (skinManager and wholeBodyDynamics). Thus there is the possibility (with low probability) of a collision. Assigning the ID with strictly partioned ID (for example from 0 to 100000 for skinManager, from 100000 to 20000 for wholeBodyDynamics) coul

[2016-05-08 10:49] traversaro commented on #21
Not going to happen.

[2016-05-08 10:49] #21 closed

[2016-05-08 10:52] traversaro commented on #20
This test should be replicated with the new wholeBodyDynamics .

[2016-05-09 08:49] traversaro commented on #89
Time passed, no we should test its behavior also on the robot, using [RTF](http://robotology.github.io/robot-testing/documentation/index.html). Another test to do (we were bit by this in the past) :
* [ ] Test that torque estimation and calibration are consistent also by changing the kinematic source of information.
* [ ] Test the FT offset values are consistent changing the kinematic source of in

[2016-05-09 10:12] hu-yue opened #183 "yarpWholebodyModel.h not found"
Hi,
I was updating everything after some time, but got this error on codyco-modules while compiling the superbuild:

[code]

Everything is on master branch updated this morning.
Thanks!

@traversaro @jeljaik

[2016-05-09 10:32] traversaro commented on #183
I guess `CODYCO_USES_OROCOS_BFL_BERDY` is set to on, right?

[2016-05-09 10:51] hu-yue commented on #183
Yes, but when I changed it to off nothing seemed to have changed, I'll try to clean the cache and build again.

[2016-05-09 11:03] hu-yue commented on #183
@traversaro ok now it's compiling fine.
But how come is this happening?
Anyway I think I don't need the `BFL_BERDY`, as this was because some time ago I was using Jorh's module but now it should not be needed anymore.

[2016-05-09 11:03] #183 closed

[2016-05-09 14:34] traversaro commented on #183
I think there was this option that remained in your cache.

[2016-05-16 15:32] #173 closed

[2016-05-16 15:40] traversaro commented on #173
Fixed in https://github.com/robotology/yarp-wholebodyinterface/commit/b5035d7f7409983532a408a53755cb3f90aad611 and https://github.com/robotology/yarp-wholebodyinterface/commit/884d6abea0fa8825be6c69b8daf19700505493fa .

[2016-06-02 10:21] traversaro commented on #161
TODO: migrate all of this in wholeBodyDynamics(Device/3).

[2016-06-02 11:58] hu-yue opened #190 "[wholeBodyDynamicsTree] Running WBDT on gazebo model of iCubHeidelberg"
Hi,
I'm having some problems running `WBDT` on our iCubHeidelberg model, it ends with these errors:
[code]

I'm using the model and configuration files as in [here](https://bitbucket.org/yue_hu/icubheidelberg01/src/399e08817bdbbc18263a25ca04c0c9dd9b370917/iCubHeidelberg01_no_weights/?at=springs).

I don't have errors running `WBDT` on the full icub model, but I can't figure out the problem of our

[2016-06-07 08:39] traversaro commented on #190
Sorry @hu-yue , I was outside of the lab for the weekend. Are you using `YARP_ROBOT_NAME` set to `iCubHeidelberg01`, right?

[2016-06-07 08:57] hu-yue commented on #190
@traversaro yes it is `iCubHeidelberg01`, should it be something else?

[2016-06-07 09:09] hu-yue commented on #190
@traversaro I solved the problem, I think the problem is that I was not using the correct urdf file. Anyway now it seems to work fine.

[2016-06-07 09:09] #190 closed

[2016-06-07 11:59] traversaro commented on #118
Done in https://github.com/robotology/codyco-modules/pull/185 .

[2016-06-07 11:59] #118 closed

[2016-06-30 11:30] traversaro commented on #58
The new model generated in https://github.com/robotology-playground/icub-model-generator do not include `codyco_balancing_world` . We should make sure that iCubParis01/02 models are properly updated and get definitely rid of `codyco_balancing_world` (that should match now `l_sole`).

[2016-06-30 16:58] traversaro opened #194 "Fix iCubGui visualization during YOGA++ demo"
The `iCubGui` visualization is shitty during the `YOGA++` demo, for a number of reason:
* For robot models generated using the v2 generation workflow directly from Creo model, the frames used by the iCubGui for visualizing contact forces are not present (except for `l_foot_dh_frame` and `r_foot_dh_frame`) : https://github.com/robotology-playground/icub-model-generator/issues/11 .
* The `iCubGui` h

[2016-07-01 08:03] iron76 commented on #194
A nice visualisation is fundamental for presenting our work to daily visitors. Do we have an estimate of how much effort is needed for this issue to be addressed?

[2016-08-10 16:02] KevinAStein opened #196 "[Floating Base Estimator] reset to Arbitrary Frame"
Hi,
I try to use the floating base estimator and need to reset it at the beginning. Therefore I take the floating base values from my inverse kinematics and use

```resetSimpleLeggedOdometryToArbitraryFrame("root_link", floating_base_transform, "root_link");```

In the transform I have a rotation Matrix and a translation. After the reset the angles I get from the yarp port /floatingBaseEstimator/b

[2016-08-10 16:12] traversaro commented on #196
Hi @KevinAStein ,
  the `initial_reference_frame_H_world` argument specified in https://github.com/robotology/codyco-modules/blob/improvFloatingBase/src/idl/floatingBaseEstimatorRPC/codyco/floatingBaseEstimatorRPC.thrift#L57 is indeed not fully defined in the function header, I am sorry. : (

Typically when I write A_H_B in the code it is a short hand for the homegeneous transform that transforms

[2016-08-12 10:53] KevinAStein commented on #196
ok, thanks for the explanation.

[2016-08-12 10:53] #196 closed

[2016-08-16 08:26] traversaro commented on #194
The floating base estimator bit should be fixed by https://github.com/robotology/codyco-modules/pull/197 . For the DH frame stuff, it would take some more time, probably two/three days.

[2016-08-30 12:24] jeljaik opened #198 "wholeBodyDynamicsTree with JTC"
Hello guys,

I am trying to launch `wholeBodyDynamicsTree` (WBDT) using a new URDF model of `iCubParis02` result of a merge between the upper body params of `iCubGenova05` and ours. The resulting URDF can be found [here](https://github.com/robotology/yarp-wholebodyinterface/blob/master/app/robots/iCubParis02/model_merged.urdf). I'm launching WBDT with the following parameters:

[code]

Where [whol

[2016-08-30 12:26] francesco-romano commented on #198
Maybe I'm missing something, but why WBD3 should know about the presence of the JTC?
@traversaro ?

[2016-08-30 13:15] jeljaik commented on #198
Fixed in 90dbede0f662c81d0ba825880b34d54ca38c5041

[2016-08-30 13:15] #198 closed

[2016-09-09 14:31] traversaro opened #199 "Remove hardcoding of "imu_frame" in WholeBodyDynamicsDevice"

[2016-09-09 14:31] traversaro commented on #199
https://github.com/robotology/codyco-modules/blob/215e5ede11422ccac0415123c9ab1cd6c7e65d6c/src/devices/wholeBodyDynamics/WholeBodyDynamicsDevice.cpp#L1212

[2016-09-10 13:56] traversaro opened #200 "Get external wrenches estimation to work on the Walkman robot"
@gabrielenava has been recently struggling to get the estimation of external wrenches to work on the Walkman robot, using the old KDL-based `wholeBodyDynamicsTree`. He got stuck on several points in which the code was hardcoding iCub-specific information.

The last bug of this kind was the hardcoding of the `imu_frame` name as the frame in which the IMU outputs its measurements. While it could be

[2016-09-10 14:10] traversaro commented on #200
I am going through the code to see if there some robot-specific leftovers (beside https://github.com/robotology/codyco-modules/issues/199).

[2016-09-11 10:51] traversaro commented on #200
At the moment this issue is blocking: https://github.com/robotology/idyntree/issues/230 .

[2016-09-20 12:32] traversaro opened #202 "homePoseBalancingTwoFeet.ini is assymetric for iCubGenova01, iCubGenova02 and iCubDarmstadt01"
Example from https://github.com/robotology/codyco-modules/blob/master/src/modules/torqueBalancing/app/robots/iCubGenova02/homePoseBalancingTwoFeet.ini :

[code]

[2016-09-20 12:36] traversaro commented on #202
Source of the problem (propagated through copy pasting) : https://github.com/robotology/codyco-modules/commit/6d0eb90a1d4499e755462a4f89f804dea53c4446

[2016-09-20 12:43] traversaro commented on #202
cc @DanielePucci @gabrielenava

[2016-09-20 12:56] traversaro commented on #202
For reference: in `iCubGenova02`, the current poses assumes a relative positions of the foot given by:
[code]
That can be computed by the following matlab script:
[code]

[2016-09-22 08:01] gabrielenava opened #203 "Possible bug using wholeBodyDynamics3 with gazebo"
I'm currently using wholeBodyDynamics3 as long as with Gazebo simulator to perform torque balancing simulations with Walkman. I noticed that if I delete the model from gazebo while wholeBodyDynamics3 is still running, and I try to insert the model again, the new robot disappear from gazebo. If I stop the wholeBodyDynamics3, I can insert the new model without problems. There are no error or warning

[2016-09-22 10:21] traversaro opened #204 "Compilation of devices not working with yarp devel"

[2016-09-22 10:21] traversaro commented on #204
cc @gabrielenava

[2016-09-22 11:43] gabrielenava commented on #204
After the last update to the branch devel in yarp, I tried to compile codyco-superbuild. I got the following error:

[code]

[2016-09-22 11:50] traversaro commented on #204
Fixed by https://github.com/robotology/codyco-modules/commit/af6d573b1052dcc854ac7fbdc135b9ff9599ac69 .

[2016-09-22 11:50] #204 closed

[2016-09-22 11:50] traversaro commented on #199
Fixed in https://github.com/robotology/codyco-modules/pull/201 .

[2016-09-22 11:50] #199 closed

[2016-09-22 11:53] traversaro opened #205 "ENABLE_codycomod_* needs to be explicitly set to ON to compile a device"
Using YARP 2.3.67 we can set this option explicitly to ON since https://github.com/robotology/yarp/pull/895 .

[2016-09-26 13:27] drdanz commented on #205
@traversaro I'm about to add an `INTERNAL` option that will set DEFAULT=ON and hide the option from the CMake gui.
Also, since I noticed you used it in b0c4f0b, I'm also changing `ADVANCED ON` in just `ADVANCED` as I don't see a reason for setting `ADVANCED OFF`, sorry for the mess...

[2016-09-26 13:40] drdanz commented on #205
@traversaro `INTERNAL` option added... You can ensure that is available by bumping yarp dependency to `2.3.67.2`

[2016-09-26 14:25] traversaro commented on #205
@drdanz At the moment I prefer not to bump the `codyco-superbuild` to YARP `devel`. For the moment I keep compatibility with YARP 2.3.66, with the only difference that if you use YARP 2.3.66 you have to manually enable the devices.

[2016-09-26 14:32] traversaro commented on #205
@drdanz I think this doc line needs to be updated : https://github.com/robotology/yarp/blob/devel/conf/YarpPlugin.cmake#L118 .

[2016-09-26 15:47] traversaro commented on #205
Working if YARP is 2.3.67.2 , otherwise the user still needs to manually set to ON the `ENABLE_` variables.

[2016-09-26 15:47] #205 closed

[2016-09-26 16:52] DanielePucci commented on #202
thanks @traversaro

[2016-10-04 11:22] jeljaik opened #207 "Can't launch module with icubGazeboSim."
Hi guys,

I wanted to do some tests using `SimpleLeggedOdometry`, therefore was trying first with the old way done in `wholeBodyDynamicsTree`.

The following:
`wholeBodyDynamicsTree --robot icubGazeboSim --asume_fixed_from_odometry l_sole`

Gives me this error:
`[ERR] yarpWholeBodySensors::init() error: failing in opening force/torque sensors`

I also have my `YARP_ROBOT_NAME` variable set correct

[2016-10-04 11:26] traversaro commented on #207
Mhh.. Can you provide the complete log of `wholeBodyDynamicsTree` ?

[2016-10-04 11:27] jeljaik commented on #207
Yup, sorry.

[code]

[2016-10-04 11:31] traversaro commented on #207
I guess `/icubGazeboSim/left_arm/analog:o` exists, right?

[2016-10-04 11:40] jeljaik commented on #207
Never mind, I had a bad update. Everything's back to normal 👍

[2016-10-04 11:40] #207 closed

[2016-10-13 17:38] paraschos opened #209 "TorqueBalancingCpp Module not working"
I am trying to start the torque balancing but the robot falls down (does not apply enough torque
on the legs) and  we press the emergency stop to save the day. Checking the logs, I can see
several F/T sensors in saturation mode:

1673    229.804170  ERROR    from BOARD 10.0.1.6 (EB6), src CAN2, adr 13, time 352s 773m 206u: (code 0x01000002, par16 0x0004 par64 0x0000000800000000) -> HW: strain valu

[2016-10-14 08:29] paraschos commented on #209
...or attach a file

[2016-10-20 10:17] paraschos commented on #209
@DanielePucci any suggestions?

[2016-10-20 11:10] DanielePucci commented on #209
Hi @paraschos, sorry for taking so long to reply. So, that's kind of weird since the whole left leg and right foot sensors are saturating. In this case, we have to change the offsets of the sensors' ADC through `canLoader --calib`, but I'm not sure that these saturations cause the problem. Can you check if saturations occur after you start `torqueBalancing` or just before? Thanks

(P.S. Nice move

[2016-10-20 11:19] traversaro commented on #209
Sorry @paraschos , I saw this during IROS and I did not reply immediately and then I forgot to reply, sorry that caused a delay in the reply.

[2016-10-20 11:38] paraschos commented on #209
Hey @DanielePucci it is a bit strange indeed and I was also wandering if it is the cause or the a symptom of that behavior. I checked the logs (including the torqueBalancing log) and I didn't see anything. Only that it reached a joint limit and the something like "I give up". That occurred (according to the log timestamp) after the saturation.

The saturation does not occur when we place the robot

[2016-10-20 12:45] DanielePucci commented on #209
Mmmmm, I see. Can you launch the `torqueBalancing` with the additional option `--check_limits false`? By doing so, it does not stop the controller when reaching the joint limits.

[2016-10-20 12:59] traversaro commented on #209
@paraschos You should have the permissions.

[2016-10-20 15:35] paraschos commented on #209
@DanielePucci Did that, didn't help.
@traversaro ty :)

I am attaching the full log so that you guys can take a look. I will play a bit with the saturation limits.

[ypmrprunlog_20_10_2016_05_26_01_balance_limits_false.log.txt](https://github.com/robotology/codyco-modules/files/542109/ypmrprunlog_20_10_2016_05_26_01_balance_limits_false.log.txt)

[2016-10-20 15:44] DanielePucci commented on #209
Mmmmmmmm roger. Do you have the chance to run the Simulink module for the torqueBalancing?

[2016-10-20 18:15] paraschos commented on #209
I will try it tomorrow. However it also happened once without running the balancing demo.

Log files here @ https://github.com/robotology/icub-support/issues/317

[2016-10-20 18:41] paraschos commented on #209
I think that I just have to recalibrate the F/Ts. I got more saturation msgs while I started pushing the robot. However I am not sure how to interpreter the amount of messages that I am getting. Are these "a lot" or "a few".

Details of the log collection: First 2 errors (3035/3040) when I placed the robot on the floor for the first time. I lifted and placed the robot down to the floor a couple of

[2016-10-21 09:19] DanielePucci commented on #209
HI @paraschos, so getting some saturations when the robot is in position control and the user pushes it is quite normal. On the other hand, we do not have a tool to evaluate if the number of saturations you get are fishy. Anyways, we may do the following things (it is up to you to do either or both of them)

1. Shoot a video of the experiment, by taking also the Logger when saturations occur;

2.

[2016-10-21 09:43] paraschos commented on #209
Hi @DanielePucci, when the saturation occurred I was pushing the robot hard enough to make the sole to loose contact. So I guess it is not that fishy at all to have this amount of saturation errors. I am then even more puzzled with the old TorqueBalancing is not working. The last commit of that module was done in Feb...

I will try the simlulink approach first. Maybe we can see something more in t

[2016-10-21 09:44] DanielePucci commented on #209
Roger. Standing by.

[2016-10-21 15:41] paraschos commented on #209
Hey @DanielePucci, so things started to work. The YOGA demo from the simulink torqueBalancing controller is running (took me some time as I reinstalled all code from scratch recently). However, there is probably a broken eth cable between eb2 and eb3 that is giving a lot of random errors (either link ones or lost packages).

- There are also a few saturation errors, around 10 per trial. Shall I re

[2016-10-24 16:27] paraschos commented on #209
Hey guys,

the networking communication problems are fixed. The YOGA++ works nicely on the robot.

However, I tried the cpp version of the torque balancing on the sim and it fails. Can you take a look? Can I replicate this mode from the simulink? I tried to run the simulink in  `COORDINATOR` mode but matlab crashed.

Also, do you think that the f/t should be re-calibrated? I think that they look f

[2016-10-25 11:32] hu-yue opened #210 "Cannot connect to WBDT rpc"
After updating everything to the devel branch (yarp, icub-main, firmware) in order to use the floating base estimation, we are now not able to connect to the rpc of `wholeBodyDynamicsTree` anymore.
When doing `yarp rpc /wholeBodyDynamicsTree/rpc:i` nothing happens and it seems that the connection is not being established.

@traversaro

[2016-10-25 12:23] traversaro commented on #210
Mh... Have you recompiled the `codyco-superbuild` and in particular `codyco-modules` after the massive update to the `devel` branch?

[2016-10-25 12:41] hu-yue commented on #210
Yes, and just to be sure I just did it again, and I still have the same issue. But we can connect using another computer plugged in the network (and on which we did no update anything)

[2016-10-25 12:44] hu-yue commented on #210
Uhm ok I think it's a stupid issue, sorry, the thing is that before when you open rpc there was `>>` as waiting for the input command, now it's not there and it seemed nothing was happening... I just tried to type in commands and it's working.

[2016-10-25 12:44] #210 closed

[2016-11-25 13:55] francesco-romano opened #211 "Error while configuring floatingBaseEstimatorRPC"
[code]

cc @traversaro

[2016-11-25 13:57] francesco-romano commented on #211
When solving (by removing the floatingBaseEstimatorRPC module from the CMakeLists.txt) this error happens

[code]

[2016-11-25 14:03] traversaro commented on #211
This happens on Debian Wheezy, CMake 2.8.11 .

[2016-12-15 10:16] #211 closed

[2016-12-15 10:18] francesco-romano commented on #167
I think we can close this issue (given the thorough log attached 😝 )

[2016-12-15 10:18] #167 closed

[2016-12-15 11:08] traversaro commented on #211
@S-Dafarra  can you commit the solution we coded on the terminal of iCubGenova02? Thanks.

[2017-01-23 14:59] Yeshasvitvs opened #217 "WholeBodyDynamics3"
I am using rpc of wholeBodyDynamics3 in my module and while trying to run two rpc commands, the program is stuck after executing the first one (and also received [ok] response). @traversaro

[2017-01-24 08:44] traversaro opened #218 "Visualization tools for CoDyCo Y4 Demo"
The idea is to have a visualizer for the realtime estimates of joint position, joint torques and external force-torques for both the iCub robot and the humans involved in the Y4 Demo.

The visualization tool used will be RViz (http://wiki.ros.org/rviz).

The estimation results will be published on ROS topics by **something** (the estimation architecture needs to be defined), using the following RO

[2017-01-24 14:23] traversaro commented on #218
As discussed f2f with @martalorenzini, we agreed on pushing the code prepared so far in a separated repository, to avoid polluting `codyco-modules` with catkin stuff.

[2017-01-24 14:24] traversaro commented on #218
@martalorenzini : https://github.com/robotology-playground/codyco-y4-viz .

[2017-02-02 08:54] traversaro opened #219 "wholeBodyDynamics device seems to work even if some joint names are wrong"
On iCubGenova02, due to https://github.com/robotology/robots-configuration/issues/17 some joint names that are in the `axesNames` list such as `neck_roll` are not in any joint name, but wholeBodyDynamics configure correctly. This is probably due to a bug.

[2017-02-06 13:31] traversaro commented on #218
Little design documented updated in https://github.com/robotology/codyco-modules/issues/218#issue-202756368 , @MartaLorenzini feel free to add whatever you seem more fit.

[2017-02-16 12:26] traversaro commented on #218
As discussed f2f , all the visualization code will be moved to https://github.com/robotology-playground/human-dynamics-estimation . I think we can then close the issue here and move them there.

[2017-02-16 12:26] #218 closed

[2017-02-22 12:31] traversaro opened #222 "wholeBodyDynamicsDevice verbose unnecessary error"
[code]

[2017-02-22 14:42] traversaro opened #223 "Deprecate wholeBodyDynamicsTree"
Before CoDyCo Y4, I would like to make sure that all codyco users stopped using `wholeBodyDynamicsTree` and started using the new wholeBodyDynamicsDevice.

[2017-02-22 19:29] DanielePucci commented on #222
I remember that I've seen this errors on simulations run by either @pi-q or @gabrielenava. Please, open issues asap when you notice something fishy.

[2017-02-24 09:14] traversaro commented on #223
First step:
 * https://github.com/robotology/codyco-modules/pull/224

Missing steps:
 * Provide files for bigman and its variants.
 * Add files for `floatingBaseEstimator` .

[2017-02-28 10:00] traversaro opened #225 "torque timeout while running wholeBodyDynamicsDevice throught yarprobotinterface"
Today on `iCubGenova02` we experienced the following failure:

[code]

[2017-02-28 11:07] traversaro commented on #222
I think it is a leftover of https://github.com/robotology-playground/icub-model-generator/issues/36 .
For the time being, as a workaround I think we should suppressed this errors in iDynTree as already done for similar errors in https://github.com/robotology/idyntree/commit/5e760abb90642899d81db803b3e653343c74bb4f .

[2017-02-28 11:09] traversaro commented on #222
In particular we should suppress this line https://github.com/robotology/idyntree/blob/5e760abb90642899d81db803b3e653343c74bb4f/src/model_io/urdf/src/URDFSolidShapesImport.cpp#L105 .
@diegoferigo If you want you can take care of this, to start familiarizing with the iDynTree codebase.

[2017-03-28 14:16] gabrielenava opened #226 "calibStandingOnTwoLinks needs an update of wholebodydynamics.xml for working properly"
On iCubGenova02, I tested the new wholeBodyDynamics command `calibStandingOnTwoLinks`. At the beginning it was not working properly. There were no errors, but measured torque on knee joint was quite high (25 Nm), and this was not realistic because iCub was sitting on its chair. For making the calibration working properly, it was necessary to manually update file `wholebodydynamics.xml` (the one in

[2017-03-29 14:08] traversaro opened #227 "Add support for reading contacts from the Skin in the wholebodydynamics YARP device"
While replying to https://github.com/robotology/codyco-modules/issues/226 , I noticed that the wholebodydynamics YARP device is lacking support for reading the contact points from the skin [1].

Such a support needs to be implemented before we can deprecated `wholeBodyDynamicsTree`, see https://github.com/robotology/codyco-modules/issues/223 .

[1] : https://github.com/robotology/codyco-modules/bl

[2017-03-29 14:08] traversaro commented on #223
Blocked by https://github.com/robotology/codyco-modules/issues/227 .

[2017-03-29 14:24] traversaro commented on #226
Even if this may sound confusing, this is exactly how the estimators is supposed to work.
From the documentation of the `wholebodydynamics` yarp device (contained in the `WholeBodyDynamicsDevice` class) [1]:

This relatively complex logic was implemented to simplify the configuration of the device in "strange" situations, for example when an force-torque sensor is not working, and we still want to

[2017-04-20 09:36] traversaro commented on #225
We had a discussion with @valegagge back in march. She told me that they in the past they also experienced problems in the communication between the PC104 and the EMS, so the problem could also be related to that.

[2017-04-20 10:15] DanielePucci commented on #225
This problem is happening again: @pi-q @gabrielenava @S-Dafarra are going to provide support to @valegagge to care of this problem (e.g. post the logs of the recent occurrences)

[2017-04-20 12:18] traversaro commented on #225
As this is probably a system problem, related to the interaction of the `wholeBodyDynamicsDevice` with the rest of the iCub ETH interface, I think it make more sense to move this issue to `icub-support`.

[2017-04-20 12:18] traversaro commented on #225
Issue moved to [robotology/icub-support #449](https://github.com/robotology/icub-support/issues/449) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-20 12:18] #225 closed

[2017-04-21 12:33] traversaro opened #230 "jointTorqueControl needs to be ported to use the new IPWMControl interfaces"
The only place where I am aware of it use is on `iCubParis*`, so it is not urgent because those robots use the `master` branch of `yarp`, but it must be completed before the next release of YARP.

[2017-04-21 12:48] traversaro commented on #223
Relevant docs:  https://github.com/robotology/codyco-modules/blob/master/doc/force_control_on_icub.md .

[2017-05-19 14:07] traversaro commented on #223
Apparently in wholeBodyDynamicsTree  there is some legacy port that are giving in output the com position (that are used by some users such as @serena-ivaldi ). This kind of functionality have been migrate to the simpleLeggedOdometry device, but we should make sure to support those ports there before deprecating wholeBodyDynamicsTree .

[2017-05-30 06:38] S-Dafarra opened #233 "wholebodydynamics.xml not compliant with the new device naming system"
The same as https://github.com/robotology/human-dynamics-estimation/issues/67 .
See https://github.com/robotology/codyco-modules/blob/master/src/devices/wholeBodyDynamics/app/wholebodydynamics-icub-eth-six-fts.xml#L44 vs https://github.com/robotology/robots-configuration/blob/master/iCubGenova04/wrappers/motorControl/right_leg-mc_wrapper.xml#L21

[2017-05-30 06:55] S-Dafarra commented on #233
A possible patch is the following:

[code]
@traversaro can you please double check?

[2017-05-30 07:47] traversaro commented on #233
It seems correct.
In the medium term we should find a way to encapsulate such complexity from specific device configuration files.
Possible solutions include:
 * supporting "group" of devices declared somewhere in the yarprobotinterface configuration files
  * attaching only "remapped" devices that contain all the resources of a given robot. We can do that for the controlboard devices, but at the

[2017-06-08 10:28] traversaro commented on #227
cc @iron76 @DanielePucci @gabrielenava

[2017-06-27 01:50] traversaro commented on #230
cc @DanielePucci

[2017-06-27 08:10] DanielePucci commented on #230
I think that this may be a task for @diegoferigo according to his current workload.

[2017-07-04 14:21] diegoferigo commented on #222
Instead of totally suppressing the message I'd rather to switch to a `reportWarning`. Comments?

[2017-07-19 13:14] traversaro commented on #227
cc @fjandrad

Note that the conversion logic is already partially implemented in
https://github.com/robotology/idyntree/blob/master/src/icub/include/iDynTree/iCub/skinDynLibConversions.h

The conversion logic is actually part of a test:
https://github.com/robotology/idyntree/blob/2470a71cee49ee3a611195e36b8dc447eca9f154/src/tests/icub_consistency/iCubExternalWrenchesEstimationConsistencyTest.cpp#L

[2017-07-19 13:18] traversaro commented on #227
To have an idea of the logic currently implemented, you can check the relevant code in the very old module `wholeBodyDynamics` :
https://github.com/robotology/icub-main/blob/cd2028daac5afcddb220f3b6a7bfe6caa4abdf7b/src/modules/wholeBodyDynamics/observerThread.cpp#L1552

and in the not so old module `wholeBodyDynamicsTree` :
https://github.com/robotology/codyco-modules/blob/8d45db4b8613ea8de85c7e58

[2017-07-19 13:22] traversaro commented on #227
Once the support has been implemented, in can be tested on the real robot, by launching the skinManager application, and ensuring that the following connections are active:
[code]
for the skinManager ---> wholeBodyDynamics connection,
and
[code]
for the wholeBodyDynamics ---> iCubGui

[2017-07-24 16:01] fjandrad commented on #227
it seems to me that some functions from https://github.com/robotology/idyntree/blob/master/src/icub/src/skinDynLibConversions.cpp are replicated in https://github.com/robotology/idyntree/blob/master/src/icub-kdl/include/iCub/iDynTree/TorqueEstimationTree.h. Is this on purpose? Is there a relevant difference that I'm missing?

[2017-07-25 06:56] diegoferigo commented on #227
Let's wait @traversaro reply, but I think I understood that slowly we're going to deprecate `kdl` stuff.

[2017-07-25 07:12] traversaro commented on #227
Yes, the stuff in `icub-kdl` folder will be eventually removed, that's there is "duplicated" code.

[2017-07-27 13:24] fjandrad commented on #227
this issue should be almost solved in the branch skinForceSensing, I just need to test on the robot.

[2017-07-27 14:27] fjandrad commented on #227
Considering that now is possible to have more than one contact per submodel I remember discussing that when there are more than one contact in a submodel we can not estimate the external wrench, following the code I did not find a condition when number_contacts >number_of_submodels . So where and how should we deal with this situation? It would be my understanding that the estimator should deal wi

[2017-07-28 07:40] traversaro opened #236 "Add a new parameter to wholeBodyDynamics"
Originally posted by @fjandrad  :

[2017-07-28 07:44] traversaro commented on #236
In order:
 * I misunderstood a bit the original request. For reading just the skin contact positions, I think it is ok to use them if they are available, as it was the behaviour of `wholeBodyDynamics` and `wholeBodyDynamicsTree` modules, so we do not need an additional option.
 * For reading the contact F/T estimated from the Skin, I think it is necessary to have an option, because while it will b

[2017-07-28 08:31] traversaro commented on #159
Won't fix, wholeBodyDynamicsTree will be deprecated soon as descriebed in https://github.com/robotology/codyco-modules/issues/223 .

[2017-07-28 08:31] #159 closed

[2017-07-28 08:38] traversaro opened #237 "Cleanup IDL generation"
Currently we are mixing different strategies to handle thrift IDL generation:
* Committing/not committing the generate C++ source files
* Use the [`yarp_add_idl`](https://github.com/robotology/yarp/blob/9a395f6e41e01d8d350b6a4e5e2b2f6c6f913b74/cmake/YarpIDL.cmake#L18) or the [`yarp_idl_to_dir`](https://github.com/robotology/yarp/blob/9a395f6e41e01d8d350b6a4e5e2b2f6c6f913b74/cmake/YarpIDL.cmake#L6)

[2017-08-09 12:22] fjandrad commented on #236
Regarding "For reading the contact F/T estimated from the Skin, I think it is necessary to have an option, because while it will be useful for our experiment to read the contact F/T from the skin for estimating the joint torque, I think the contact F/T estimate obtained using the internal F/T will remain the default choice for a long time."

It will be dealt with the integer variable trustSkinThre

[2017-08-10 13:56] traversaro commented on #227
Fixed by @fjandrad in https://github.com/robotology/codyco-modules/pull/239 .

[2017-08-10 13:56] #227 closed

[2017-08-10 13:58] traversaro commented on #223
Final missing feature w.r.t. to the old wholeBodyDynamicsTree migrated in https://github.com/robotology/codyco-modules/pull/239, we are ready to merge.

[2017-08-10 15:02] traversaro commented on #222
Duplicate of https://github.com/robotology-playground/icub-model-generator/issues/62 .

[2017-08-10 15:02] #222 closed

[2017-08-10 15:03] traversaro commented on #149
Closing for cleanup of old issues.

[2017-08-10 15:03] #149 closed

[2017-08-10 15:03] traversaro commented on #133
Closing for cleanup of old issues.

[2017-08-10 15:03] #133 closed

[2017-08-10 15:04] traversaro commented on #147
Closing for cleanup of old issues.

[2017-08-10 15:04] #147 closed

[2017-08-10 15:04] traversaro commented on #146
Closing for cleanup of old issues.

[2017-08-10 15:04] #146 closed

[2017-08-10 15:04] traversaro commented on #144
Closing for cleanup of old issues.

[2017-08-10 15:04] #144 closed

[2017-08-10 15:04] traversaro commented on #142
Closing for cleanup of old issues.

[2017-08-10 15:04] #142 closed

[2017-08-10 15:07] traversaro commented on #11
In a sense, this long discussion is now being solved in https://github.com/robotology/WB-Toolbox/issues/46 , by moving all the filtering **out** of the interface rather than hidden in the interface. This decision was taken because most of the user of WBI and WB-Toolbox were not aware of the existence of this filters, as they were hidden inside they interface.

[2017-08-10 15:07] #11 closed

[2017-08-10 15:10] traversaro commented on #38
I think that this issue can be closed, as the idea is to move away from the `wholeBodyInterface` towards a direct use of `ControlBoardRemapper`, `iDynTree::KinDynComputations` and future YARP interface to read inertial sensors https://github.com/robotology/yarp/issues/1273 .

[2017-08-10 15:10] #38 closed

[2017-08-10 15:14] traversaro commented on #39
https://github.com/robotology/idyntree/issues/93 was solved, and the distinction between link and frames is fully documented in iDynTree (see https://github.com/robotology/idyntree/blob/2470a71cee49ee3a611195e36b8dc447eca9f154/src/model/include/iDynTree/Model/Model.h#L34). Furthermore, an attempt to raise the awareness on this issue in the wider robotics community has been attempted in https://dis

[2017-08-10 15:14] #39 closed

[2017-08-10 15:15] traversaro commented on #15
Deprecating as we are migrating to the ControlBoardRemapper class, whose handling of single joint failures will be in line with the rest of YARP software.

[2017-08-10 15:15] #15 closed

[2017-08-10 15:18] traversaro commented on #10
Closing. During the years, our experience seems to indicate that estimation components are better suited to be implemented in C++ with their own non-generic interface, and access to specific estimated quantities can be provided by specialized interfaces, such as publishing the frame in `tf` for base estimation, and publishing joint torques estimate in the state published by the `ControlBoardWrappe

[2017-08-10 15:18] #10 closed

[2017-08-10 15:20] traversaro commented on #130
Research actively successfully published in  http://ieeexplore.ieee.org/abstract/document/7803270/ , closing the issue.

[2017-08-10 15:20] #130 closed

[2017-08-10 15:25] traversaro commented on #66
The `wholeBodyDynamicsTree` is currently in the process of being deprecated, see https://github.com/robotology/codyco-modules/blob/master/doc/force_control_on_icub.md for the documentation on how to use the latest `wholebodydynamics` YARP device, and https://github.com/robotology/codyco-modules/issues/223 for the current status of the deprecation.

In particular, the gravity compensation functiona

[2017-08-10 15:25] #66 closed

[2017-08-10 15:26] traversaro commented on #40
The `wholeBodyDynamicsTree` module is currently in the process of being deprecated, see https://github.com/robotology/codyco-modules/blob/master/doc/force_control_on_icub.md for the documentation on how to use the latest `wholebodydynamics` YARP device, and https://github.com/robotology/codyco-modules/issues/223 for the current status of the deprecation.

[2017-08-10 15:26] #40 closed

[2017-08-10 15:26] traversaro commented on #43
The `wholeBodyDynamicsTree` module is currently in the process of being deprecated, see https://github.com/robotology/codyco-modules/blob/master/doc/force_control_on_icub.md for the documentation on how to use the latest `wholebodydynamics` YARP device, and https://github.com/robotology/codyco-modules/issues/223 for the current status of the deprecation.

[2017-08-10 15:26] #43 closed

[2017-08-10 15:27] traversaro commented on #161
I am afraid this bug is still affecting `wholebodydynamics` YARP device.

[2017-08-10 15:29] traversaro commented on #226
https://github.com/robotology/codyco-modules/issues/227 was fixed, and this was mostly a misunderstanding of `wholebodydynamics` YARP device functionality.

[2017-08-10 15:29] #226 closed

[2017-08-10 15:30] traversaro commented on #131
Closing for cleanup of old issues.

[2017-08-10 15:30] #131 closed

[2017-08-10 15:33] traversaro commented on #135
Bug lost in time, closing.

[2017-08-10 15:33] #135 closed

[2017-08-10 15:37] traversaro commented on #82
Probably it is/was a problem related to https://github.com/robotology/codyco-modules/issues/160 . Closing unless we have some action to perform related to this.

[2017-08-10 15:37] #82 closed

[2017-08-10 15:40] traversaro commented on #64
This issue can be closed, as the idea is to move away from the wholeBodyInterface towards a direct use of ControlBoardRemapper, iDynTree::KinDynComputations and future YARP interface to read inertial sensors robotology/yarp#1273 .

Related to this issue, we have that `ControlBoardRemapper` is thread-safe (buffers are protected by mutexes) while `iDynTree::KinDynComputations` is by design not threa

[2017-08-10 15:40] #64 closed

[2017-08-10 15:44] traversaro commented on #72
Closing as this functionality is currently being migrated in https://github.com/robotology-playground/sensors-calib-inertial cc @nunoguedelha @S-Dafarra .

[2017-08-10 15:44] #72 closed

[2017-08-10 15:47] traversaro commented on #101
The `wholeBodyDynamicsTree` module is currently in the process of being deprecated, see https://github.com/robotology/codyco-modules/blob/master/doc/force_control_on_icub.md for the documentation on how to use the latest `wholebodydynamics` YARP device, and https://github.com/robotology/codyco-modules/issues/223 for the current status of the deprecation.

The `wholebodydynamics` YARP device uses d

[2017-08-10 15:47] #101 closed

[2017-08-10 15:49] traversaro commented on #20
The unit test of iDynTree are running fine under valgrind.

[2017-08-10 15:49] #20 closed

[2017-10-06 13:51] traversaro opened #246 "Documentation of WBD_OUTPUT_EXTERNAL_WRENCH_PORTS group is not complete"
See https://github.com/robotology/codyco-modules/commit/3d7cf166366faf09c27b2a59332fb3da58783472#commitcomment-24806757 .

[2017-10-09 15:15] francesco-romano opened #247 "wholeBodyDynamicsDevice continuously emits warnings when skin is connected"
Sorry for the image instead of textual description, but I do not have the log with me.

![2017-10-09 17 14 08](https://user-images.githubusercontent.com/2189180/31345200-4655a784-ad15-11e7-988d-5a10af65df0b.jpg)

See [this](https://github.com/robotology/codyco-modules/blob/0168f7976a6115dd23e5562f693b2b4ca6791451/src/devices/wholeBodyDynamics/WholeBodyDynamicsDevice.cpp#L1415)

[2017-10-09 15:22] traversaro commented on #247
cc @fjandrad can you look into this? Thanks!

[2017-10-10 19:49] fjandrad commented on #247
Sure Ill take It off. Sorry for the late response

Sent from my Cyanogen phone

On Oct 9, 2017 5:22 PM, Silvio Traversaro <notifications@github.com> wrote:

cc @fjandrad can you look into this? Thanks!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-11 09:14] fjandrad commented on #247
Done. Solved in 85e93d68f80794d2b4107e402e944360b0d0b38d

[2017-10-11 09:14] #247 closed

[2017-10-11 09:20] francesco-romano commented on #247
Thanks

[2017-10-16 09:38] fjandrad opened #249 "torqueBalancing ini files not being installed"
The CMakeList in

contains the following condition
[code]

Since KDL is being deprecated by default it wont compile the torqueBalancing folder.
This is an issue since the ini files from torqueBalancing are commonly used for the starting positions.
As a result the ini files are not installed by default.

[2017-10-16 09:38] fjandrad commented on #249
cc @diegoferigo  @traversaro

[2017-10-16 12:35] traversaro commented on #249
It was my fault, sorry guys. It can be easily fixed by moving the `if(CODYCO_USES_KDL)` inside the `torqueBalancing` directory, guarding everything except the `add_subdirectory(app)` call.

[2017-11-30 09:01] #249 closed

[2017-11-30 09:01] traversaro commented on #249
Apparently I forgot to fix this issue. Solution provided in https://github.com/robotology/codyco-modules/commit/5442a76c1a4c2bdb6bf4382432171423d6c81075 .
cc @diegoferigo @gabrielenava

[2017-12-08 12:10] serena-ivaldi commented on #223
Hi Silvio,
it is not 100% clear for us how we should interact with the iDynTree suit (considering all code developed using iDynTree) right now...
We would like to instantiate a model of iCub with iDynTree, provide joints values, and given these values compute some relevant quantities, such as the COM.
If now this is done by simpleLeggedOdometry (https://github.com/robotology/codyco-modules/blob/ma

[2017-12-08 14:22] traversaro commented on #223
The recommended way of extracting kinematics and dynamics informations related to the robot model is to use the `iDynTree::KinDynComputations` class. For an example of its use (including the computation of the center of mass) is provided in https://github.com/robotology/idyntree/blob/ccbf42fe669cdac19d0277eeeaa4e115e83cdd66/examples/KinDynComputationsWithEigen/main.cpp .

[2017-12-08 14:35] serena-ivaldi commented on #223
thanks - we were still looking into the libraries of codyco-modules, we didn;t know it was now a separated project in robotology...

[2017-12-15 15:11] S-Dafarra opened #254 "CMAKE Warning"
I get the following CMAKE warning:
[code]

[2018-01-23 14:33] aikolina opened #256 "wholebodydynamics.xml - Cannot terminate yarprobotinterface when using iCubGazeboV2_5"
After running the following command:
[code]
I do all my test and, when I'm done, I try to terminate the `yarprobotinterface` with `CTRL+C`. It seems that everything is shut down properly since I get the messages:
[code]
But actually the program does not terminate completely and  I have to `CTRL+C` multiple times until the terminal is released.

**NB** Before typing a `CTRL+C` for the second time,

[2018-01-23 16:07] gabrielenava commented on #256
I never noticed it, probably because I usually press `CTRL+C` several times. But I confirm that I observed the same behaviour on my pc now.

[2018-01-25 14:26] diegoferigo commented on #256
I remember it happened also here sometimes. But after a while my compulsive Ctrl+C made me forget about this :sweat_smile:

[2018-01-26 13:25] S-Dafarra opened #257 "Compilation problems since with newest version of yarp devel"
I get the following error:
[code]

It is probably due to https://github.com/robotology/yarp/commit/2628fde78f527fd72dfdce37dba6e0851c7d957c#diff-aa2670150d8480ce5105d7333a2ebe17

[2018-01-26 13:27] S-Dafarra commented on #257
cc @traversaro @gabrielenava

[2018-01-26 14:17] traversaro commented on #257
Sorry, we introduced the `devel` branch also on codyco-modules, I need to do a proper announcement about that.

[2018-01-26 14:21] S-Dafarra commented on #257
Thanks!

[2018-01-26 14:21] #257 closed

[2018-01-30 10:26] lpenco opened #258 "[torqueBalancing]-Drift of the robot movements on its left"
I'm using the torqueBalancing Controller. I'm sending some jointangles references to the robot together with the corresponding com position. I extrapolate the com position through DynTree w.r.t the root link.
When I simulate the robot tends to bend the torso to the left and to open the left arm as if the com reference was more on the left.  In what coordinate frame the torqueBalacing takes the com

[2018-02-02 13:58] #258 closed

[2018-02-02 14:00] lpenco commented on #258
I was using the C++ old version of the torqueBalancing controller that is affected by unstable zero-dynamics

[2018-02-02 14:09] traversaro commented on #258
For more info about the zero dynamics problems of the old controlller, see https://arxiv.org/pdf/1603.04178.pdf .

[2018-03-27 16:58] diegoferigo commented on #230
@DanielePucci What is the status of this task? Is it still something where we want to invest time?

[2018-04-04 18:21] gabrielenava opened #261 "wholeBodyDynamics broken on iCubGenova04"
Together with @Yeshasvitvs we tried to run the `fast yoga demo` on `iCubGenova04`. The robot fails immediately. The measured joint torques went up to a crazy value: 2000 Nm (see the picture below).

![screenshot from 2018-04-04 19-21-14](https://user-images.githubusercontent.com/12396934/38325594-b75e5746-3843-11e8-97a7-6aa07f35a34f.png)

We checked the FT measurements both using Simulink and then

[2018-04-04 19:48] traversaro commented on #261
There are three inputs to wbd: ft sensors, joint positions and gyro/acceleroneter of the imu. Have you checked the last two?

[2018-04-04 20:12] gabrielenava commented on #261
I checked the joint positions and there were no spikes, but I didn't check the IMU. I will check it tomorrow.

[2018-04-05 08:00] gabrielenava commented on #261
I checked the joints and the IMU measurements. They were fine, while in the iCubGui I saw random forces as in the gif. See attached pictures.

IMU:

![screenshot from 2018-04-05 09-53-56](https://user-images.githubusercontent.com/12396934/38353843-007fe1e6-38b8-11e8-861a-31aa986c82e2.png)

Joints:
![screenshot from 2018-04-05 09-56-00](https://user-images.githubusercontent.com/12396934/38353844-00

[2018-04-05 09:08] traversaro commented on #261
We tried two things with Luca:
  * Not using the imu, sending the `useFixedFrameAsKinematicSource` command on RPC
  *using the xsens IMU

In both case everything was working fine, so even if there are no crazy values in the bosch IMU, the issue is related in some way to the use of the bosch IMU.

[2018-04-05 10:44] gabrielenava commented on #261
The issue seems related to the joint acceleration estimation for the neck joints. See https://github.com/robotology/icub-support/issues/622. Closing this issue.

[2018-04-05 10:45] #261 closed

[2018-04-12 13:15] traversaro opened #263 "Document force/torque ports published by wholebodydynamics on different robots"
See https://github.com/robotology/robots-configuration/pull/62#discussion_r176520077 .

[2018-04-18 16:34] traversaro opened #264 "Specify used F/T sensors in wholebodydynamics with an explicit parameter"
TODO

cc @gabrielenava @ahmadgazar remember me to update this issue

[2018-04-19 08:41] gabrielenava commented on #264
ping :-)

[2018-04-19 08:44] ahmadgazar commented on #264
I am sorry I don't get what do you mean by the explicit parameter of the F/T sensors? @traversaro

[2018-05-14 13:30] traversaro commented on #230
fyi @lrapetti

[2018-05-14 13:31] traversaro commented on #168
fyi @lrapetti

[2018-05-16 16:49] rlober commented on #168
old issue... self destructing in T-minus 10... 9... 8...

[2018-05-16 16:49] #168 closed

[2018-05-16 17:36] traversaro commented on #168
:D

[2018-06-04 12:16] traversaro commented on #200
Note that this happened.

[2018-07-30 02:31] dosh1234 commented on #256
@aikolina I have a problem. Can you help me ! When I run 'YARP_ROBOT_NAME=iCubGazeboV2_5 yarprobotinterface --config launch-wholebodydynamics.xml' . I got  "did not find launch-wholebodydynamics.xml" , how  can I get the launch-wholebodydynamics.xml. I have install YARP and iCub-main and so on! Thank you!

[2018-07-30 16:43] aikolina commented on #256
Hi @dosh123, I think your problem is different from the one I describe here. Can you please open a new issue and describe your problem in details? Thanks!

[2018-08-28 09:29] fjandrad commented on #264
I think this is meant to allow to enable/disable and FT sensor from the perspective of the estimation without the need to modify the urdf model.

[2018-08-28 09:33] traversaro commented on #264
Exactly, something like having a  remapper for `SensorsList` (I think there was a similar requirement coming from Andy guys) instead of using all the FT sensors specified in the URDF.

[2018-09-03 08:42] gabrielenava commented on #202
In order to close this very old issue, I made symmetric all the `homePositions` for all robots with this [PR](https://github.com/robotology/codyco-modules/pull/269). For the robot balancing on two feet, there were only differences of 1-2 [deg] between the left and right joints on the legs (in particular, the ankles). I imagine these differences have been used to compensate for encoder calibration

[2018-09-05 16:03] fjandrad commented on #264
## Procedure to remove sensor at the foot
Remove the **sensor** tag in the the urdf depending on the sensor to be eliminated `l_foot_ft_sensor` or `r_foot_ft_sensor`.
 In this example it will be the left foot sensor.
Since at the foot, there is no other joint after the sensor, wholebodydynamics will collapse the following links to the parent of the ft sensor, the `l_ankle_2` link.
Due to this all

[2018-09-10 08:56] #202 closed

[2018-09-12 11:19] traversaro commented on #264
It is is difficult for me to address this in the short term, moving from Assignee: Traversaro to Status: Help Wanted.

[2018-09-16 09:38] fjandrad commented on #264
Considering I'll dive in into wholebodydynamics device to include the temperature section I might as well take a look at this since is useful for testing ft sensor configurations quickly.
 @traversaro we could use the meeting on Monday so you can tell me how you were planning on doing this, to get a head start

[2018-09-16 09:52] traversaro commented on #264
Yes!

[2018-10-04 11:57] GiulioRomualdi opened #270 "yarprobotointerface ends with segfault when the walking controller is closed"
When the [walking controller](https://github.com/robotology/walking-controllers/tree/demos) is closed the the yarprobotinterface went in SEGFAULT. This happens on the iCubGenova02 when the contact wrench ports are disconnected.

[code]
[yarprobotinteface_segfault.txt](https://github.com/robotology/codyco-modules/files/2446192/yarprobotinteface_segfault.txt)

[2019-01-07 08:56] gabrielenava commented on #200
Being the activity on Walkman not carried on at the moment, maybe we can close this issue. Also, I think this issue is now outdated.

[2019-01-07 09:01] traversaro commented on #200
I agree.

[2019-01-07 09:01] #200 closed

[2019-01-07 09:39] gabrielenava commented on #203
I will close this issue, as it is most likely outdated.

[2019-01-07 09:39] #203 closed

[2019-03-15 10:17] traversaro commented on #270
Is this a reproducible problem? It happens all the time? You experienced it also more recently?

[2019-03-15 10:18] traversaro commented on #223
Hi @serena-ivaldi , are you still using the `wholeBodyDynamicsTree` module for some experiments?

[2019-03-15 10:38] traversaro opened #273 "Migrate codyco-modules/src/modules/torqueBalancing/app/robots/ configuration files to some other repo"
Besides some estimator-related devices (that will be migrated to the `whole-body-estimators` repository) the only currently used part of this repo is the yarpmotorgui configuration files available in `codyco-modules/src/modules/torqueBalancing/app/robots` . We need to migrate them to some other repo. Possible options are:
* (1) Put them in `robots-configurations` : I would avoid this as `robots-co

[2019-03-15 10:39] traversaro commented on #273
cc @S-Dafarra @gabrielenava @diegoferigo @nunoguedelha @fjandrad @prashanthr05 @Yeshasvitvs @lrapetti

[2019-03-15 10:42] S-Dafarra commented on #273
Why not ``whole-body-controllers``?

[2019-03-15 10:45] traversaro commented on #273
At least at the superbuild level, `whole-body-controllers` is only installed if `ROBOTOLOGY_USES_MATLAB` is enabled, while an (hidden) requirement that I was thinking of was that this configuration files need to be installed in the superbuild if `ROBOTOLOGY_USES_DYNAMICS` is enabled, but `ROBOTOLOGY_USES_MATLAB` is not.
However, indeed  an option is to install all the time `whole-body-controllers`

[2019-03-15 10:49] S-Dafarra commented on #273
Indeed, those configuration files are mainly used for ``whole-body-controllers`` related demo. Actually, that repo does not need to be compiled (as far as I remember) so it would not be an issue to download it anyway. It also contains scripts and function that probably can run in Octave as well. Then, we can think of splitting it into several parts.

[2019-03-15 10:55] Yeshasvitvs commented on #273
I too think `whole-body-controllers` is a good choice as the configuration files are mostly used while working with the controllers, both during building and then for demos.

[2019-03-15 11:23] gabrielenava commented on #273
Of the options proposed above, I like two of them:

#### Long solution

Store these files `icub-gazebo-wholebody` after properly rename the repo. Actually, I think here we may open a [Pandora's box](https://www.google.com/search?q=pandora%27s+box+cavalieri+dello+zodiaco&client=ubuntu&hs=xX8&channel=fs&source=lnms&tbm=isch&sa=X&ved=0ahUKEwijv7regoThAhUNEVAKHdloBScQ_AUIDigB&biw=1853&bih=951#imgrc=K7

[2019-03-15 13:16] traversaro commented on #273
Mhh, let's discuss about this. I do not think there is a lot of redundancy between the two repos: if icub-models could cover all the missing features w.r.t. to icub-gazebo, I think that icub-gazebo repo should disappear.

I think most of the users of this actually use the robotology-superbuild, so as long as we ensure that the positions are still installed, I do not think there will be a lot of ch

[2019-03-15 14:37] traversaro commented on #172
The `torqueBalancing` module has not been used since a long time, I think it just make sense to close all the issues related to it.

[2019-03-15 14:37] #172 closed

[2019-03-15 14:38] traversaro commented on #134
The `torqueBalancing` module has not been used since a long time, I think it just make sense to close all the issues related to it.

[2019-03-15 14:38] #134 closed

[2019-03-15 14:40] traversaro commented on #27
Most of the feedback emerged in this  issue has been incorporated in the new components that we used in place of the WholeBodyInterface, namely the YARP's controlboardremapper and iDynTree's KinDynComputations class. For this reason, I think we can close this issue.

[2019-03-15 14:40] #27 closed

[2019-03-15 14:42] traversaro commented on #175
The torqueBalancing module has not been used since a long time, I think it just make sense to close all the issues related to it.

[2019-03-15 14:43] #175 closed

[2019-03-15 14:43] traversaro commented on #165
The torqueBalancing module has not been used since a long time, I think it just make sense to close all the issues related to it.

[2019-03-15 14:43] #165 closed

[2019-03-15 14:44] traversaro commented on #177
This is still a relevant issue I think, what do you think @gabrielenava ? :D

[2019-03-15 14:44] traversaro commented on #106
The torqueBalancing module has not been used since a long time, I think it just make sense to close all the issues related to it.

[2019-03-15 14:44] #106 closed

[2019-03-15 14:48] traversaro commented on #230
I think we can drop support for the `jointTorqueControl` device present in this repo. If the need emerge, we can still update it in the future.

[2019-03-15 14:48] #230 closed

[2019-03-15 14:51] traversaro commented on #58
We are not using anymore the wholeBodyInterface and its wholeBodyEstimate interface, and there are several activity related to estimate the base position w.r.t. to an lab-fixed frame (@prashanthr05 is the person in charge for this). However, I think we can safely close this issue.

[2019-03-15 14:51] #58 closed

[2019-03-15 14:52] traversaro commented on #46
The wholeBodyInterface is not used anymore, and has been substituted for the large majority by a direct use of non-blocking YARP sensor interfaces.

[2019-03-15 14:52] #46 closed

[2019-03-15 14:55] traversaro commented on #26
We are currently deprecating the wholeBodyInterface, and so I think we can safely close this issue. Furthermore, I am happy to notice that an idea similar to what we envisoned in https://github.com/robotology/codyco-modules/issues/26#issuecomment-43882203 is currently being incorporated in the C++ standard, with [`std::span<double>`](https://en.cppreference.com/w/cpp/container/span) (available sin

[2019-03-15 14:55] #26 closed

[2019-03-15 15:00] traversaro commented on #36
We are currently using directly YARP motor interfaces in place of the wholeBodyInterface, and interesting the problem of clearly separating "motor" interfaces from "joint" interfaces, and exposing their eventual couplings is an open problem.

Interestingly, this is one of the aspects covered by the OPC UA information Model for robotics, see https://robotik.vdma.org/documents/105999/27176383/Draft_

[2019-03-15 15:00] #36 closed

[2019-03-15 15:02] traversaro commented on #31
The main problem with this was the setting of a subset of desired joint torques in the YARP interfaces, that was solved in https://github.com/robotology/yarp/issues/176 .

[2019-03-15 15:02] #31 closed

[2019-03-15 16:04] gabrielenava commented on #177
Guess the issue is slightly outdated. In fact, now the robot does not even need the crane anymore:

![takeoff](https://user-images.githubusercontent.com/12396934/51545558-8516c100-1e62-11e9-9819-86cd2e2e1bc5.gif)

[2019-03-19 15:15] GiulioRomualdi opened #274 "Bug in one link standing calibration in WholeBodyDynamics"
This morning I tried (with @fjandrad) to calibrate the FT when the robot was in single support. By calling:
[code]
After this, the contact wrench acting on the left foot has a z value that was around zero. Discussing with @gabrielenava  and @fjandrad this should be wrong because in this specific case the force should be equal to 33.3 * 9.81.

Actually, @ahmadgazar (as can be seen in https://github

[2019-03-19 15:29] traversaro commented on #274
Which contact wrench?  You read it how?  In which (orientation) frame it is expressed?

[2019-03-19 15:30] traversaro commented on #274
Which value do you get instead of the expected one?

[2019-03-19 15:31] GiulioRomualdi commented on #274
Contact wrenches on the left foot expressed in the l_sole frame (the position of the frame and the orientation of the frame are both equals to l_sole)

[2019-03-19 15:38] traversaro commented on #274
Mhh, can you past the output of wbd (from the logger) during the calibration? Are you sure that all the FT sensors are correctly working?

[2019-03-19 15:54] GiulioRomualdi commented on #274
As regards the FT everything seems ok. Indeed if I calibrate the FT when the robot is on the air by using
[code]
the contact wrenches (both on the left and on the right feet) are fine (i.e. the z forces are more or less 160N)

[2019-03-23 12:02] gabrielenava commented on #177
Closing as outdated issue. Home position for iCub + crane has been already selected and it is now pretty stable.

[2019-03-23 12:02] #177 closed

[2019-03-28 15:35] fjandrad commented on #264
cc @gabrielenava

[2019-04-03 17:31] gabrielenava commented on #274
We found the origin of the bug. See https://github.com/robotology/yarp/issues/1994

[2019-04-03 19:36] traversaro commented on #274
As the source of the bug is actually https://github.com/robotology/yarp/issues/1994 , I think we can close this.

[2019-04-03 19:36] #274 closed

[2019-05-15 12:31] MichaelBombile opened #275 "wholeBodydynamics configuration files for iCubLausanne02"
Hi @traversaro,

We have implemented a whole-body torque control algorithm that work fine in simulation and we would like to test it on the real robot. However, we do not have proper config file (.xml) for the wholeBodyDynamics device to use the robot in torque mode.
By examining the .xml files of iCubDarmstadt01 and iCubGenova02, we created similar files for iCubLausanne02, but we are not sure wh

[2019-05-15 14:29] traversaro commented on #275
Hi @MichaelBombile,
 I need to check with the iCub support group about the specific details about iCubLausanne02 (I guess we should be able to add it to https://github.com/robotology/icub-model-generator) however, if I recall correctly iCubLausanne02 is quite a standard v2.5 Ethernet-based iCub without backpack. Just to be safe, you can easily check if the legs are v2.5 if the foot is connected to

[2019-05-15 16:21] MichaelBombile commented on #275
Hi @traversaro,

Thanks for your response.
You are right about iCubLausanne02, it is indeed a v2.5 Ethernet-based iCub without backpack.
It is similar to the iCubDarmstadt01. However, when I tried with iCubDarmstadt01's model, wholeBodyDynamics runs, but as soon as the torso or the legs are sent in torque mode (just using yarpmotorgui), the robot starts shaking (vibrating).  This happens without c

[2019-06-09 20:32] traversaro commented on #275
Hi @MichaelBombile , sorry for taking so long to reply. I guess those kind of errors could be related to delays in torque feedback. How are you running the `wholebodydynamics` YARP device?

[2019-06-09 21:00] traversaro commented on #158
Time has passed, so I updated the issue title considering that:
* `wholeBodyDynamicsTree` YARP module has been deprecated, and its functionality are provided by the `wholebodydynamics` YARP device
* `torqueBalancing` YARP module has been deprecated, and its functionality are now provided by the controllers provided in

So, the remaining thing to move in a new repo is just  the `wholebodydynamics`

[2019-06-25 11:51] MichaelBombile commented on #275
Hi @traversaro,
Thanks for your reply.
I am running `wholebodydynamics` from an external PC using the command :
`YARP_ROBOT_NAME=iCubLausanne02 yarprobotinterface --config launch-wholebodydynamics.xml` .
I also think that the delay could cause such a behavior (vibration),

So, would you suggest that I run `wholebodydynamics`  from the robot's head??

Thanks

[2019-07-02 15:27] gabrielenava opened #276 "Error when running wholebodydynamics in simulation with iCubGazeboV2_5"
I tried to run a [Yoga](https://github.com/robotology/whole-body-controllers/tree/master/controllers/floating-base-balancing-torque-control) simulation with [iCubGazebov2_5](https://github.com/robotology/icub-models/blob/master/iCub/robots/iCubGazeboV2_5/model.urdf) robot in gazebo. I had an issue when launching the command: `YARP_ROBOT_NAME=iCubgazeboV2_5 yarprobotinterface --config launch-wholeb

[2019-07-02 15:49] gabrielenava commented on #276
Another issue: the last device (wholebodydynamics) that should be launched by the `launch-wholebodydynamics.xml` file is actually not launched. Namely, I am talking about this line:  https://github.com/robotology/codyco-modules/blob/master/src/devices/wholeBodyDynamics/app/launch-wholebodydynamics-icub-six-fts-sim.xml#L95

Here there are no errors: the line is simplyskipped and I have no idea why.

[2019-07-03 09:59] traversaro commented on #276
Hi @gabrielenava ,
  please open a different issue for every problem you encounter, thanks!

For the invalid DTD version, this is due to the change in DTD for yarprobotinterface https://github.com/robotology/yarp/blob/3ce40bff37ba44b1dd1303243b7332a1ce1bd85f/doc/release/v2_3_65.md#yarprobotinterface , and it can be fixed with a commit similar to what @prashanthr05 did in https://github.com/robotol

[2019-07-03 10:03] gabrielenava opened #277 "WholeBodyDynamics device not launched when running launch-wholebodydynamics.xml"
The `wholebodydynamics` device that should be launched by the `launch-wholebodydynamics.xml` file is actually not launched. Namely, I am talking about this line: https://github.com/robotology/codyco-modules/blob/master/src/devices/wholeBodyDynamics/app/launch-wholebodydynamics-icub-six-fts-sim.xml#L95

Here there are no errors: the line is simply skipped and I have no idea why. But the file exists

[2019-07-03 10:04] gabrielenava commented on #276
Separate issue opened here: https://github.com/robotology/codyco-modules/issues/277.

[2019-07-03 10:05] traversaro commented on #277
Did you fixed the problem in https://github.com/robotology/codyco-modules/issues/276  ?
What is location of the files that you are trying to run in the yarprobotinterface?

[2019-07-03 10:39] gabrielenava commented on #277
I fixed the invalid DTD problem locally on my laptop, see https://github.com/robotology/codyco-modules/issues/276#issue-463294649. I will open a PR for fixing the remote branch too.

the `launch-wholebodydynamics.xml` file is located in `$PATH_TO_SUPERBUILD_INSTALL/share/codyco/robots/iCubGazeboV2_5/` and the `wholebodydynamics-external.xml` is located in `$PATH_TO_SUPERBUILD_INSTALL/share/codyco/

[2019-07-03 10:57] traversaro commented on #277
Have you tried to test it with another  devices file to check if that is loaded instead?

[2019-07-03 15:21] gabrielenava commented on #277
All the other devices in the file are correctly loaded: https://github.com/robotology/codyco-modules/blob/master/src/devices/wholeBodyDynamics/app/launch-wholebodydynamics-icub-six-fts-sim.xml#L89

The `wholebodydynamics` device itself is loaded without any problem if I copy the content of `wholebodydynamics-external.xml` instead of using the path to the xml file as specified currently in the `lau

[2019-07-03 15:25] traversaro commented on #277
I got it. I asked if you could load any other `devices` files, similar to  `wholebodydynamics-external.xml` but with less devices or something similar.

[2019-07-03 15:53] gabrielenava commented on #277
I did now the following test:

- I modified the `launch-wholebodydynamics.xml`. I removed [the right foot FT sensor device](https://github.com/robotology/codyco-modules/blob/master/src/devices/wholeBodyDynamics/app/launch-wholebodydynamics-icub-six-fts-sim.xml#L89) and I put it in a file called `device-test.xml`. Then, I modified this [path](https://github.com/robotology/codyco-modules/blob/master

[2019-07-04 09:13] gabrielenava commented on #276
[PR](https://github.com/robotology/codyco-modules/pull/278) opened.

[2019-07-04 15:26] prashanthr05 commented on #277
I also experience this issue.

[2019-07-04 15:50] prashanthr05 commented on #277
I made the following quick hack and it apparently works,

In the `launch-wholebodydynamics-icub-six-fts-sim.xml`
I changed
https://github.com/robotology/codyco-modules/blob/75a681590889a13967351911f694dd7a0a9c14df/src/devices/wholeBodyDynamics/app/launch-wholebodydynamics-icub-six-fts-sim.xml#L2
to
[code]

Then I changed
https://github.com/robotology/codyco-modules/blob/75a681590889a13967351911f69

[2019-07-04 15:51] prashanthr05 commented on #277
Were there any recent changes in the parsing done by `yarprobottinterface`?

[2019-07-04 15:55] prashanthr05 commented on #277
In my opinion, the problem lies with the `yarprobotinterface` for the parsing of `<include device /> tags.

[2019-07-12 12:26] gabrielenava commented on #276
PR merged. closing the issue.

[2019-07-12 12:26] #276 closed

[2019-07-23 17:25] GiulioRomualdi commented on #277
Same problem with the latest version of YARP

[2019-07-24 09:20] GiulioRomualdi commented on #277
Thanks to @prashanthr05 suggestion the problem is solved. I open a PR

[2019-07-29 11:19] traversaro commented on #277
Guys, do  you have any idea why this is now necessary? I am a bit out of time to check this out, but it could be interesting.

[2019-07-29 12:15] prashanthr05 commented on #277
I faced this problem after updating YARP to 3.2, specifically to this commit https://github.com/robotology/yarp/commit/7ee03f8e042d31dcad271b6782dc1de8398a8b12. and this line

[code]

in the configuration file was not being parsed by the `yarprobotinterface`.

[2019-07-29 13:25] traversaro commented on #277
Yes, I was asking because I fear that we are actually doing a workaround but the actual bug is in YARP, but if no one has bandwidth to investigate that I am ok to merge Giulio's  PR. Opening a bug in YARP without a minimun working example is probably just creating noise.

[2019-10-21 22:24] nunoguedelha commented on #277
I just experienced the same issue. Actually the issue is solved by using the current format supported by YARP for including device config files (we are more familiar with it now).
I just replaced
[code]
by
[code]
As it is done in for any other inclusion.
@prashanthr05 had already done this more or less, but I didn't need the other workarounds:
- There is no need for changing the included file for

[2019-10-21 22:24] nunoguedelha commented on #277
CC @CarlottaSartore

[2019-10-22 07:13] traversaro commented on #277
Thanks @nunoguedelha

[2019-10-22 14:26] nunoguedelha commented on #277
Fixed by by #280 .

[2019-10-22 14:34] traversaro commented on #277
Thanks @nunoguedelha .

[2019-10-22 14:34] #277 closed

[2019-10-29 10:12] gabrielenava commented on #273
Is the offer of moving the home position in `whole-body-controllers` still valid @traversaro? I am working on the new `WBC` release, we can include also this moving.

[2019-10-29 10:25] traversaro commented on #273
Yes please, that would be really helpful. Unless there is something that is required also for walking, but probably that could be moved in the walking-controllers repo @GiulioRomualdi .

[2019-11-05 08:33] S-Dafarra opened #284 "Wholebodydynamics may not update the force measurements for more than 10ms"
During the [Maker faire Demos](https://github.com/dic-iit/lab-events-demos/issues/120) it was happening that reading the [``cartesianEndEffectorWrench``](https://github.com/robotology/walking-controllers/blob/master/app/robots/iCubGenova04/dcm_walking/common/forceTorqueSensors.ini#L5-L6) ports was returning a null pointer for 10 times (trying every millisecond) in a row. The lines which do this ch

[2019-11-05 08:45] prashanthr05 opened #285 "[WholeBodyDynamics] Use <sensor> tags from URDF to get IMU frame transformation instead of using massless links"

[2019-11-18 10:59] S-Dafarra commented on #284
Today we had again a similar issue, but this time the robot was wired (the Wi-Fi router was switched off) and the delay was more than 100ms. I remember back in time we had a similar issue because of the IMU. Do you think this may be caused by another sensor? @diegoferigo @traversaro

[2019-11-18 11:02] diegoferigo commented on #284
I remember that debugging that Bosh IMU problem has been quite demanding, and it was solved by profiling the code. Is the problem repeatable enough?

[2019-11-18 11:03] S-Dafarra commented on #284
It happens especially when we have demos :sweat_smile:

[2019-11-18 11:04] diegoferigo commented on #284
Best period to debug this problem than :)

[2019-11-18 11:15] S-Dafarra commented on #284
I was scanning quickly the code and I spotted this line:
https://github.com/robotology/codyco-modules/blob/master/src/devices/wholeBodyDynamics/WholeBodyDynamicsDevice.cpp#L1734

Is this contacting the ``yarpserver``?

[2019-11-18 11:17] traversaro commented on #284
How do you know that the data was not read for 100 ms?

In general, such a delay could be due to the WBD thread not being scheduled or not running for a lot of time for some reason (in the case of IMU, the `read` method was blocking for a long time) or because something in the YARP network communication is not working fine.

[2019-11-18 11:18] traversaro commented on #284
I have no idea, but that part of code is a useless leftover, feel free to remove it as for sure it creates more harm then benefit.

[2019-11-18 11:24] traversaro commented on #284
Apparently not, but it is using some kind of mutex so it is a good idea to remove it in any case: https://github.com/robotology/yarp/blob/cbd800e618d89ae5790af8d75148f02daf203d29/src/libYARP_OS/src/PortCore.cpp#L1473 .

[2019-11-18 11:27] S-Dafarra commented on #284
The walking tried to read from the external wrench ports for 100 times, once every millisecond, but it was receiving ``NULL`` from both the ports all the time.

We know that FT boards are currently having firmware issues (https://github.com/robotology/icub-tech-support/issues/854) experiencing crashing once in a while, so I was hoping to run that profiling again.

I saw the same, but ``PortCore``

[2019-11-18 11:32] diegoferigo commented on #284
At that time I had to develop a `ThreadStats` class https://github.com/robotology/yarp/pull/1230, that for lack of time was never merged upstream (and we never needed it again since).

As per https://github.com/robotology/yarp/pull/1230#issuecomment-544891824, I would suggest to either use more advanced libraries like [Celtoys/Remotery](https://github.com/Celtoys/Remotery), or embed them in a new

[2019-11-18 11:36] traversaro commented on #284
So this line https://github.com/robotology/walking-controllers/blob/f70d2646bb564e4aea607c8f9463b7aec390d04c/modules/Walking_module/src/WalkingModule.cpp#L579 was modified to have 100? This is not related to the issue itself, but I noticed that the controller waits until the feedback is available, that is a bit a dangerous strategy. Have you considered using the old values without stopping the con

[2019-11-18 11:42] S-Dafarra commented on #284
Yes, exactly, it was a quick test but that error got triggered anyways. Regarding the safety issues, we can think about it.

[2019-11-18 11:43] S-Dafarra commented on #284
Do you think we would need all this machinery for a first study?

[2019-11-18 11:45] traversaro commented on #284
No, probably just adding a double variable in the WBD  in which you save the last end of execution, and you can check from run to run if the difference of execution time is not so different from the period.

[2020-01-14 19:12] GiulioRomualdi opened #287 "Update required iDynTree version"
Since the `iDynTree 1.0.0` has been [released](https://github.com/robotology/idyntree/releases/tag/v1.0.0)
The required minimum version of iDynTree has been updated. This is required by `COMPATIBILITY SameMajorVersion`
[code]
In the main iDynTree [`CMakeLists.txt`](https://github.com/robotology/idyntree/blob/516713a5ec71427ee04746243dbc504ead66862f/CMakeLists.txt#L72-L78) file

Indeed when I try t

[2020-01-14 20:51] traversaro commented on #287
I think https://github.com/robotology/idyntree/pull/629 is a more sensitive fix, unless 1.0 features are actually needed.

[2020-01-15 07:40] GiulioRomualdi commented on #287
https://github.com/robotology/idyntree/pull/629 fixed the problem, we can close this issue

[2020-01-15 07:40] #287 closed

[2020-01-28 12:49] HosameldinMohamed opened #288 "CMake configuration error - cannot find `paramHelp`"
If I try to compile `codyco-modules` as a standalone repository (outside `robotology-superbuild`). I get the following error during cmake configuration issue:

[code]

`paramHelp` seems to be required to the module `torqueBalancing`.

[2020-01-28 12:59] traversaro commented on #288
Sorry for the trouble, this is one of the many leftovers. Set the `CODYCO_USES_KDL`  option to `false`.

[2020-01-28 13:03] HosameldinMohamed commented on #288
Great! Thank you very much!

I guess we don't need to make a modification since the repo will be migrated. I think we can close this issue.

FYI @prashanthr05

[2020-01-28 13:07] #288 closed

[2020-01-29 17:37] HosameldinMohamed opened #289 "[wholeBodyDynamics] add the option to change the type of iDynTree::`UnknownWrenchContact`"
It would be nice if we can assume that only external forces acting on the torso are the thrust forces, for which we know the application point and the force direction, So we can estimate the intensities of more than one wrench per sub-model.

According to the estimation theory behind the algorithm (see the paper [Contact Force Estimations Using Tactile Sensors and Force Torque Sensors](https://www

[2020-01-29 17:40] HosameldinMohamed commented on #289
@traversaro @prashanthr05

[2020-01-29 22:50] traversaro commented on #289
It seems ok!

[2020-02-01 15:36] traversaro commented on #84
Closing this, if this is reproducible, please re-open.

[2020-02-01 15:36] #84 closed

[2020-02-01 15:37] traversaro commented on #23
As this repo will be archive, I think we can simply close this issue.

[2020-02-01 15:37] #23 closed

[2020-02-01 15:38] traversaro commented on #270
Friendly ping @GiulioRomualdi, if this never happened again I think we can close the issue.

[2020-02-01 15:58] traversaro opened #290 "Deprecate codyco-modules and remove twoFeetStandingIdleAndCalib.sh script"
As discussed several times, we are finally going to move wholebodydynamics device out of this repo, and move it in https://github.com/robotology/whole-body-estimators . After that, we should be able to finally deprecate the good old codyco-modules (originally born in 2013 as the monolithic `codyco` repo : ) ).

However, I noticed that this repo still installs the two scripts `liftiCubInGui.sh` (a

[2020-02-01 17:46] traversaro commented on #273
Hi guys @robotology/iit-dic , any news on this? codyco-modules is ideally going to be removed soon, so it would be great to either port this files, or drop their use.

[2020-02-01 17:49] traversaro commented on #122
I now know what happened here, and probably this will also happen even with the modifications proposed by @HosameldinMohamed in https://github.com/robotology/whole-body-estimators/issues/17 .
@HosameldinMohamed remember me to explain you.

[2020-02-01 17:52] traversaro commented on #223
`wholeBodyDynamicsTree` has not been compiled for a long time.

[2020-02-01 17:52] #223 closed

[2020-02-01 17:58] traversaro commented on #254
`codycomoddev` executable was dropped when migrating to `whole-body-estimators`.

[2020-02-01 17:58] #254 closed

[2020-02-01 17:59] traversaro commented on #209
Unfortunatly the C++-based torque balancing controller module has not been mantained, so it is not possible to use it anymore.

[2020-02-01 17:59] #209 closed

[2020-02-01 18:01] traversaro commented on #158
Fixed by https://github.com/robotology/whole-body-estimators/pull/16 .

[2020-02-01 18:07] traversaro commented on #160
I think this issue can be closed, not because the issue has been  solved, but because the issue of the reliability of the FT sensors measurements is not related at all to the software for estimating the external forces and torques. However, I think that this issue and all the other issues that refer to this one may be of interest for the team that is currently tackling the issue of reliability of

[2020-02-01 18:07] traversaro commented on #160
It may be an interesting reference also for all the @robotology/iit-dic .

[2020-02-01 18:07] #160 closed

[2020-02-16 08:30] traversaro commented on #290
Given the lack of answers, I assume that the answer is **no** to all answers, and proceed to remove codyco-modules from the superbuild in the next weeks.

[2020-02-16 08:36] traversaro commented on #273
Given the lack of replies, I assume that no one is interested/using those configuration files, and proceed to remove them from the files installed in the robotology-superbuild by dropping codyco-modules in the next weeks.

[2020-02-16 08:39] traversaro commented on #273
Note that probably the docs in whole-body-controllers and walking-teleoperation would need to be updated after the removal of these files, as they still references them in their docs:
* https://github.com/robotology/walking-teleoperation/wiki/How-run-Teleoperation-scenario%3F
* https://github.com/robotology/whole-body-controllers/blob/0567206c5c0fae359a9abf5c384759e058f9a7e9/doc/How-to-run-torqueB

[2020-02-17 08:57] traversaro commented on #290
Probe comment: if you arrived here from the Teams comment, please add a reaction to this issue with 👀 .

[2020-02-17 10:50] kouroshD commented on #273
@traversaro  which part of the documentation in walking-teleoperation needs updates?

[2020-02-17 11:28] traversaro commented on #273
The linked walking-teleoperation wiki page refers to the `homePoseBalancing.ini` file that is amont the one installed by `codyco-modules` and discussed in this issue.

[2020-02-17 11:38] kouroshD commented on #273
When you apply the intended changes, please ping us, so I will update the documentation.

[2020-02-17 11:47] traversaro commented on #273
Due to the lack of feedback, the currently planned change is to remove those files, as  mentioned in https://github.com/robotology/codyco-modules/issues/273#issuecomment-586681614 . For this reason, if you are not using those files I suggest to change the documentation now, without to wait for the actual removal of the files.

[2020-02-17 14:57] S-Dafarra commented on #290
There is script similar to ``twoFeetStandingIdleAndCalib.sh`` in https://github.com/robotology/whole-body-controllers/blob/master/utilities/releaseLegStressesWhileStanding.sh. The difference is that it just releases the stresses, but it does not calibrate.

[2020-02-17 14:58] S-Dafarra commented on #273
Just to understand, where is the file ``homePoseBalancing.ini`` going to be moved?

[2020-02-17 15:07] traversaro commented on #273
As mentioned in https://github.com/robotology/codyco-modules/issues/273#issuecomment-586681614, given the lack of replies I assumed that no one is currently using  the `homePoseBalancing.ini` files, and so the current plan is to delete them. If instead someone is actually using them, then let's reopen the discussion about there to move them.

[2020-02-17 15:11] S-Dafarra commented on #273
I probably overlooked this because of the similarity with https://github.com/robotology/codyco-modules/issues/290. Sorry about that.
The file ``homePoseBalancing.ini`` is largely used when using the robot as mentioned above. I guess we failed in finding in agreement about where to put it right?

[2020-02-17 15:20] traversaro commented on #273
Ok, then I updated again the title of the issue.

As of https://github.com/robotology/codyco-modules/issues/273#issuecomment-547353474, I think the agreement to put the models in `whole-body-controllers` was reached, however no one replied to the comments until I threatened to delete the configuration files. :)
@gabrielenava do you still agree in keeping this files in `whole-body-controllers`. Amo

[2020-02-17 15:41] gabrielenava commented on #273
I still agree.

If necessary I can do it on Wednesday.

[2020-02-17 16:03] traversaro commented on #273
Great, thanks @gabrielenava ! Wednesday is ok.

[2020-02-19 16:01] gabrielenava commented on #273
Done with this commit: https://github.com/robotology/whole-body-controllers/commit/36d905658c657681208dfb106dcf53703d9738d3

Installation tested with the robotology superbuild and seems working fine. It is in `devel` branch for now, but [PR](https://github.com/robotology/whole-body-controllers/pull/77) for merging in master is already opened.

[2020-02-19 16:26] traversaro commented on #273
Related issue in wbc: https://github.com/robotology/whole-body-controllers/issues/80 .

[2020-02-20 13:11] gabrielenava commented on #273
I tried to updated the name of the folder where the files are installed from `wbc` to `yarp` as discussed [here](https://github.com/robotology/whole-body-controllers/issues/80#issuecomment-588310971), but I got an error while compiling the superbuild:

[code]

Maybe I cannot use `yarp` as specified folder name in [this command](https://github.com/robotology/whole-body-controllers/blob/devel/CMakeL

[2020-02-20 13:18] S-Dafarra commented on #273
If you want to avoid the need of adding the ``wbc`` install folder into the ``YARP_DATA_DIRS``, you can also depend on ``ICUBcontrib`` as [``walking-controllers``](https://github.com/robotology/walking-controllers/blob/master/CMakeLists.txt#L14-L16) does. Then you can install the robot configuration files in the ``ICUBcontrib`` folder (https://github.com/robotology/walking-controllers/blob/master/

[2020-02-20 13:21] S-Dafarra commented on #273
I just realized that if ``yarp`` has his own ``${YARP_ROBOTS_INSTALL_DIR}`` then what I wrote above can be done also without depending on ``ICUBcontrib`` :sweat_smile:

[2020-02-20 13:49] gabrielenava commented on #273
This worked thanks @S-Dafarra! Updated with this commit: https://github.com/robotology/whole-body-controllers/commit/55928fb5def6ccf82a81d6354adaac3ae9948164

[2020-02-20 14:52] traversaro commented on #273
Exactly, you definitely cannot. Actually I was suggesting something much simpler, just to define:
[code]
in the main CMakeLists.txt. As these are YARP-related configuration files of robots, I do not think there is anything strange or risk in installing them in `<prefix>/share/yarp` . These means that if you install just this projects on its own standalone prefix, you would still need to add `<pref

[2020-02-20 15:01] traversaro commented on #273
Ouch, too late. This works fine if you install the project in the same prefix path of YARP, but in some cases, for example if you used YARP installed from binaries in the system directories, it will not work. I personally suggest to use the solution in my other comment (that will give  you the same result if YARP is installed in the same prefix, and something sane in any case).